{%- if block.settings.delivers != blank -%}
  <div class="deliverContainer">
    {%- if block.settings.delivers != blank -%}
      <div id="delivers">
        <div id="details_icon" class="js_details_icon">
          {% if block.settings.deliversIcon != blank %}
            <img class="hoverIconMb"
              src="{{ block.settings.deliversIcon | image_url }}" height="16" width="16" loading="lazy">
          {% else %}
            <img class="hoverIconMb"
              src="{{ 'https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/information-line_1.png?v=1650007431' }}" height="16" width="16" loading="lazy">
          {% endif %}

          {% comment %} <div class="hoverBox">
            <div class="hoverText">
              {{block.settings.tips}}
              <!-- Currently we cannot ship to Alaska, Hawaii, Puerto Rico, U.S. Virgin Islands. Worldwide shipping will be available soon. -->
            </div>
          </div> {% endcomment %}
        </div>
        <span class="deliversInfo">{{ block.settings.delivers }}</span>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

<style>
  .deliverContainer .js_details_icon {
    margin-right: 8px;
  }
  .deliverContainer #delivers {
    color: #333;
    font-size: 12px;
    font-weight: bold;
  }
  .pcDelivers {
    display: none;
  }
  #details_icon,
  #delivers,
  .deliversInfo {
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (min-width: 641px) {
    .deliverContainer {
      margin: 0 50px;
      display: inline-block;
      padding: 0;
    }
    .mobileDelivers {
      display: none;
    }
    .pcDelivers {
      background-color: #f2f2f2;
      padding: 12px 0;
      text-align: center;
    }
    .deliverContainer #delivers {
      font-size: 18px;
    }
    .deliverContainer .js_details_icon {
      margin-right: 12px;
    }
  }
</style>
