<div class="payment_method_button">
    <div class="pay_now activeBorder">
        <div class="method_name">Pay now</div>
      <div class="method_price">
            <div class="method_top">
                <div class="mobi">
                    <div class="origin">{%- render 'customer-price-control', type:'origin', cpc_product: product -%}</div>
                </div>
                <div class="priceA">
                    <div class="current">{%- render 'customer-price-control', type:'sale', cpc_product: product -%}</div>
                </div>
            </div>
            {%- if block.settings.limited_time != blank  -%}
            <div class="limited_time">{{ block.settings.limited_time }}</div>
            {%- endif -%}
        </div>
    </div>

    <div class="pay_overTime" id="payOverTime" data-price="{%- render 'customer-price-control', type:'momoney', cpc_product: product -%}"
        style="{%- if block.settings.show_pay_over_time == false -%}display: none;{%- endif -%}"
    >
        <div class="pay_klarna">Pay over time</div>
        <div class="info" id="renderKlarnaDom">
            {% comment %} <div class="klarna_img">
                <img  src="https://na-assets.klarnaservices.com/images/badges/klarna.svg" alt="">
            </div>
            <div class="klarna_right_box">
                <div class="low">Pay as low as $56/mo <a href="" target="_blank"> learn more</a></div>
                <div class="col">
                   <a href="" target="_blank">See if you're prequalified</a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<script>
  $(function () {
    $('body').on('click', '.pay_now', function (e) {
      $('.pay_now').addClass('activeBorder');
      $('.pay_overTime').removeClass('activeBorder');
      $('.method_name').css('color', '#222');
      $('.pay_klarna').css('color', '#666');
    });
    $('body').on('click', '.pay_overTime', function (e) {
      $('.pay_overTime').addClass('activeBorder');
      $('.pay_now').removeClass('activeBorder');
      $('.method_name').css('color', '#666');
      $('.pay_klarna').css('color', '#222');
    });

    let text = $('.fb_pages_top_price_paytext').clone();
    $('#renderKlarnaText').append(text);
  });
</script>
<style>
    .payment_method_button {
        padding: 10px 0;
        width: 100%;
        height: 100%;
    }

    .pay_now,
    .pay_overTime {
        display: flex;
        padding: 0 16px;
        height: 70px;
        justify-content: space-between;
        border: 1px solid rgba(212, 212, 212, 0.8000);
  }
  .pay_overTime {
    align-items: center;
  }

  .payment_method_button .activeBorder {
        border: 1px solid #02C0D9;
    }

    .method_name {
        font-size: 14px;
        font-weight: bold;
        color: #222222;
        line-height: 16px;
        padding: 26px 0;
    }

  .method_price {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .method_top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .limited_time {
    height: 12px;
    cursor: pointer;
    color: #9e9e9e;
    line-height: 15px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
  }
  .origin {
    padding-right: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #9E9E9E;
        line-height: 14px;
    text-decoration: line-through;
  }

    .current {
        font-size: 22px;
        font-weight: bold;
        color: #02c0d9;
        line-height: 26px;
    }

  .final_price {
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 400;
    color: #a0a0a0;
    line-height: 14px;
  }

  .pay_overTime {
    margin-top: 8px;
  }

  .pay_klarna {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    line-height: 16px;
    padding: 26px 0;
  }

  .col {
  }
  .info {
    display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: #666666;
        line-height: 15px;
    }

  .aging {
    padding-top: 26px;
  }

  .low {
    padding-right: 3px;
  }

  .info .aging span {
    font-size: 16px;
    font-weight: blod;
    color: #02c0d9;
    font-weight: 600;
  }

  .jump {
    color: #136873;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 4px 0 10px;
    text-align: right;
    cursor: pointer;
  }

  .klarna_img {
    width: 43px;
    height: auto;
    margin-right: 6px;
  }

  .klarna_img img {
    display: block;
    width: 43px;
    height: auto;
    margin-right: 2px;
  }
  .klarna_right_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    color: #666666;
    font-weight: 500;
  }
  @media only screen and (max-width: 1144px) {
    .low {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .klarna_right_box {
      align-items: flex-end;
    }
    .klarna_right_box a {
      display: block;
    }
  }
  .klarna_right_box a {
    cursor: pointer;
    color: #9e9e9e;
    line-height: 15px;
    font-weight: 400;
    text-decoration: underline;
  }
  .col {
    margin-top: 6px;
    display: flex;
    align-items: center;
  }
  #klarnaLearmore {
    font-size: 22px;
    color: #02c0d9;
    font-weight: bold;
    line-height: 26px;
  }
  /* .final_price_mb {
        display: none;
    } */

  @media only screen and (max-width: 768px) {
    .payment_method_button {
            padding: 24px 0 26px;
        }

        .pay_now,
        .pay_overTime {
            padding: 0 16px;
            height: 68px;
        }

        .method_name {
            font-size: 14px;
            line-height: 16px;
            padding: 26px 0;
        }

    .method_price {
      width: 125px;
    }

    .origin {
      padding-right: 4px;
    }

    .final_price {
      display: none;
    }

    .pay_klarna {
      padding: 24px 0;
    }

        .info {
            {% comment %} min-width: 180px; {% endcomment %}
    }

    .aging {
      padding-top: 25px;
    }

    .low {
      padding-right: 3px;
    }

        .info .aging span {
            font-size: 14px;
        }

        .klarna_img {
            {% comment %} margin: 20px 2px 24px 0; {% endcomment %}
      }

       /* .mobi {
            display: flex;
            padding: 19px 0 24px;
            flex-direction: column;
            align-items: flex-end;
            justify-content:flex-end;
      }
        */

        /* .final_price_mb {
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: rgba(160, 160, 160, 0.8000);
            line-height: 12px;
            white-space:nowrap;
        } */
  }
</style>
