<div class="low-on-stock">
    {% assign stock_pc_img = block.settings.stock_pc_img | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
    {% assign stock_mobile_img = block.settings.stock_mobile_img | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
    <img class="Image--lazyLoad Image--fadeIn footerIcon_safe_item_icon stock_pc_img" data-src="{{ stock_pc_img }}"
        data-sizes="auto" data-optimumx="1.2"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        alt="{{ block.settings.stock_pc_img.alt | escape }}">
    <img class="Image--lazyLoad Image--fadeIn footerIcon_safe_item_icon stock_mobile_img" data-src="{{ stock_mobile_img }}"
        data-sizes="auto" data-optimumx="1.2"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        alt="{{ block.settings.stock_mobile_img.alt | escape }}">
</div>

<style>
    .low-on-stock{
        width: 104px;
        height: 26px;
    }
    .low-on-stock img{
        width: 100%;
        height: 100%;
    }
    @media only screen and (max-width: 820px){
        .stock_mobile_img{
            display: block;
        }
        .stock_pc_img{
            display: none;
        }
        {%- if template == 'page.lit-bike' or template == 'page.lit-bike-klarna' or template == 'page.lit-bike-white' or template == 'page.lit-bike-beige' or template contains 'page.boom-bike' -%}
            .low-on-stock{
                margin-top: 8px;
                margin-bottom: 4px;
            }
        {%- else -%}
            .low-on-stock{
                margin-top: 12px;
                margin-bottom: -8px;
            }
        {%- endif -%}
    }
    @media only screen and (min-width: 769px){
        .low-on-stock .stock_pc_img{
            display: block;
        } 
        .low-on-stock .stock_mobile_img{
            display: none;
        }
        {%- if template == 'page.lit-bike' or template == 'page.lit-bike-klarna' or template == 'page.lit-bike-white' or template == 'page.lit-bike-beige' -%}
            .low-on-stock{
                margin-top: 8px;
                margin-bottom: 4px;
            }
        {%- else -%}
            .low-on-stock{
                margin-top: -8px;
                margin-bottom: 4px;
            }
        {%- endif -%}

        {%- if template contains 'page.boom-bike' -%}
            .low-on-stock{
                margin-top: 8px;
                margin-bottom: 4px;
            }
        {%- else -%}
            .low-on-stock{
                margin-top: 4px;
                margin-bottom: 4px;
            }
        {%- endif -%}
    }
</style>