<div class="fb_CharityInformation">
  <div></div>
  <div class="fb_CharityInformation_con">
    <div class="fb_CharityInformation_item">
      <div class="fb_CharityInformation_item_text">
        With every purchase you make,<br />we're proud to donate $1 to
      </div>
    </div>
    <div class="fb_CharityInformation_item">
      <div>
        <a href="https://curechildhoodcancer.org/" target="_blank"
          ><img
            class="fb_CharityInformation_item_img3"
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/charityIcon.png?v=1646903556"
        /></a>
      </div>
      <div>
        <a href="https://www.ctf.org/" target="_blank"
          ><img
            class="fb_CharityInformation_item_img1"
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/202221617330.png?v=1645004028"
            alt=""
        /></a>
      </div>
    </div>
    <div class="fb_CharityInformation_item">
      <div class="fb_CharityInformation_item_text">Read our story on</div>
      <div>
        <a
          href="https://www.bloomberg.com/press-releases/2021-11-18/freebeat-hosts-thanksgiving-charity-activities-helping-children-with-cancer"
          target="_blank"
          ><img
            class="fb_CharityInformation_item_img2"
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/202221617331.png?v=1645004028"
            alt=""
        /></a>
      </div>
    </div>
  </div>
  <div></div>
</div>
