<link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
<section
    class="Section  {% if template == 'page.lit-bike' or template == 'page.lit-bike-klarna' or template == 'page.bike'%} {% else %} Section--spacingNormal {% endif %} {% if section.settings.title == 'footer nav' %} pc-nav-style {% endif %}"
    id="section-{{ section.id }}">
    {%- if section.settings.title == 'try-custom' -%}
        <h1 style="display: none">sign up for 45-day membership </h1>
        <div class="get-email">
            <div class="get-email-left">
                <img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/try-for.jpg?v=1629349737">
            </div>
            <div class="get-email-right">
                <div>
                    <h3 class="get-email-right-title">
                        TRY FREEBEAT MEMBERSHIP FREE FOR 45 DAYS
                    </h3>

                    <ul class="get-email-li">
                        <li>
                            <img src="https://cdn.shoplazza.com/4da1678dab5ffb42b86ff306f403c673.png">Sign up now to get
                            exclusive offers!
                        </li>
                        <li>
                            <img src="https://cdn.shoplazza.com/4aa18f3f69ed6a108c2efc673e03e171.png">Access to thousands of
                            on-demand classes anytime you want
                        </li>
                        <li>
                            <img src="https://cdn.shoplazza.com/28258fbeed904318eb41019c40bb544c.png">Choose from indoor
                            cycling, barre, HIIT, kickboxing and more
                        </li>
                        <li>
                            <img src="https://cdn.shoplazza.com/b2e2605a1baa74e832b70492a3f32bbd.png">Experience the
                            gamified workouts and performance tracking
                        </li>
                    </ul>

                    <div class="email_input newsletter">

                        {% form 'customer' %}
                        {%- if form.posted_successfully? -%}
                        <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                        {%- else -%}
                        {%- if form.errors -%}
                        <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                        {%- endif -%}
                        <div class="password utils-text-left">
                            <input type="email" name="contact[email]" placeholder="Enter your email" />
                        </div>

                        <div class="submit">
                            <input type="submit" value="Sign up" />
                        </div>
                        {%- endif -%}
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}
    <!-- 物流跟踪 -->


    {%- if section.settings.title == 'track order' -%}
        <h1 style="display: none">Track Order</h1>
        <div class="track-order">
            <div>
                <div class="tr-title"> TRACK ORDER </div>
                <div class="email_input newsletter">
                    <div class="password">
                        <input id="trackOrder" type="text" name="" placeholder="Enter tracking number"
                            oninput="getInput(this)" />
                        <span id="ResetBtn" role="img" aria-hidden="true" class="css-1mj655z" onclick="ResetInput()"><svg
                                aria-hidden="true" focusable="false" width="12" height="12"
                                xmlns="http://www.w3.org/2000/svg">
                                <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M1.76 1.76l8.48 8.48M10.24 1.76l-8.48 8.48"></path>
                                </g>
                            </svg></span>
                    </div>

                    <div class="submit">
                        <input type="submit" value="Track" onclick="getTrackOrder()" />
                    </div>
                </div>
                <div class="track-list" id="trackList">

                </div>
            </div>
        </div>
    {%- endif -%}

    {%- if section.settings.title == 'fb_vote' -%}
        <!-- 彩车投票页Start -->
        <!-- 左 -->
        <div class="fb_vote_wrapper">
            <div class="fb_vote_titleM">Lit Bike Limited Editions</div>
            <div class="fb_vote_textM">
                Introducing a series of stunning colorways with show-stopping and most radical skins of freebeat Lit
                Bike. Add to your wishlist and let us know your favorite!
            </div>
            <div class="fb_vote_swiper">
                <img class="vote_pic" src="" alt="" />
                <!--         <img
          class="vote_picM"
          src="https://static.freebeatfit.com/campaign/SMOKE_WHITE_mb.gif"
          alt=""
        /> -->
                <img class="teemo-use-loading"
                    src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/loading.gif?v=1646890633"
                    alt="loading" />
            </div>
            <!--右-->
            <div class="fb_vote_content">
                <!-- mobile在上 -->
                <div class="fb_vote_title">Lit Bike Limited Editions</div>
                <div class="fb_vote_text">
                    Introducing a series of stunning colorways with show-stopping and most radical skins of freebeat Lit
                    Bike. Add to your wishlist and let us know your favorite!
                </div>
                <div class="fb_vote_color">
                    <div class="color_des">SMOKE WHITE</div>

                    <div class="changeColor">
                        <ul class="options">
                            <li class="active allColor">ALL</li>
                            <li class="activeM nopadding">MATTE</li>
                            <li>GLOSSY</li>
                            <!--               <li>METALLIC</li> -->
                        </ul>
                        <ul class="card">
                            <!-- All -->
                            <li class="active allColor">
                                <div class="card_color_all" id="card_color_all">
                                    <div class="card_frame card_border">
                                        <span id="SMOKE_WHITE"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="AQUA_BLUE"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="DISCO_BRONZE"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="CAUTION_MATTE"></span>
                                    </div>
                                </div>
                                <div class="card_color_all" id="card_color_all">
                                    <div class="card_frame">
                                        <span id="TECHNO_GREY"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="MIDNIGHT_ABYSS"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="SCORCH_RED"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="BLUE_STING"></span>
                                    </div>
                                    <!--                   <div class="card_frame">
                    <span id="RAZZLE_CHROME"></span>
                  </div>
                  <div class="card_frame">
                    <span id="PURPLE_PRINCE"></span>
                  </div> -->
                                </div>
                            </li>
                            <!-- matte -->
                            <li class="activeM">
                                <div class="card_color_all" id="card_color_all">
                                    <div class="card_frame card_border">
                                        <span id="SMOKE_WHITE"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="AQUA_BLUE"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="DISCO_BRONZE"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="CAUTION_MATTE"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card_color_all" id="card_color_all">
                                    <div class="card_frame">
                                        <span id="TECHNO_GREY"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="MIDNIGHT_ABYSS"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="SCORCH_RED"></span>
                                    </div>
                                    <div class="card_frame">
                                        <span id="BLUE_STING"></span>
                                    </div>
                                </div>
                            </li>
                            <!--               <li>
                <div class="card_color_all" id="card_color_all">
                  <div class="card_frame">
                    <span id="RAZZLE_CHROME"></span>
                  </div>
                  <div class="card_frame">
                    <span id="PURPLE_PRINCE"></span>
                  </div>
                </div>
              </li> -->
                        </ul>
                    </div>
                </div>
                <div class="buttton">
                    <button class="addToWish">ADD TO WISHLIST</button>
                </div>
            </div>
            <!-- 弹框 -->
            <div class="popFrame">
                <div class="popContent">
                    <div class="popTitle">We Heard You!</div>
                    <div class="popText">
                        To learn more about our new bike launches, future deals and events,
                        please enter your contact information.
                    </div>
                    <input type="text" class="e-mail" id="e-mail" placeholder="ENTER EMAIL ADDRESS HERE" />
                    <div class="popCheck">
                        <button id="vote_resolve">YES! ENTER NOW!</button>
                        <button id="vote_reject">NO, THANKS</button>
                    </div>
                </div>
            </div>
            <!-- 邮箱添加成功 -->
            <div class="success">
                <div class="tip">You're All Signed Up!</div>
                <a href="/">
                    <div class="link">Click to see more freebeat bikes</div>
                </a>
            </div>
            <!-- 遮盖层 -->
            <div id="mask" class="mask"></div>
        </div>
        <!-- 彩车投票页End -->
        {%- endif -%}
</section>

{% schema %}
{
"name": "Custom HTML",
"class": "shopify-section--bordered",
"settings": [
{
"type": "text",
"id": "subheading",
"label": "Sub-heading",
"default": "Sub-heading"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Your HTML"
},
{
"type": "html",
"id": "html",
"label": "HTML content",
"default": "<p>Write your own custom HTML content</p>"
}
],
"presets": [
{
"category": "Advanced",
"name": "Custom HTML",
"settings": {}
}
]
}
{% endschema %}