<div class="fb-exercise-fit" id="section-{{ section.id }}">
    <div class="fbex-fit-title">
         {{ section.settings.fbex_fit }}
    </div>
    <div class="fbex-fit-btn">
        <a href="{{- section.settings.fbex_btn_url -}}">
            {{ section.settings.fbex_btn_text }}
        </a>
    </div>
</div>
{% schema %}
{
    "name": "FbExerciseFit",
    "presets": [
      {
          "name": "fb-exercise-fit",
          "category": "My Sections",
          "blocks": []
      }
    ],
    "settings": [
        {
            "type": "richtext",
            "id": "fbex_fit",
            "label": "title",
            "default": "<p>Not Sure? Find the Perfect Fit!</p>"
        },
        {
            "type": "text",
            "id": "fbex_btn_text",
            "label": "Button text",
            "default": "COMPARE BIKES"
        },
        {
            "type": "url",
            "id": "fbex_btn_url",
            "label": "Button Url"
        }
    ],
    "blocks": [
    ]
  }
{% endschema %}
<style>
   .fb-exercise-fit{
      width: 100%;
      padding-top: 80px;
      padding-bottom: 80px;
    } 
    .fbex-fit-title{
        text-align: center;
        margin-bottom: 32px;
    }
    .fbex-fit-title p{
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        line-height: 24px;
        margin: 0; 
        padding: 0;
    }
    .fbex-fit-btn{
        text-align: center;
        width: 100%;
    }
    .fbex-fit-btn a{
        display: inline-block;
        width: 380px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background: #181A1D;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
    }
    @media only screen and (max-width: 768px) {
        .fb-exercise-fit{
            padding-top: 40px;
            padding-bottom: 41px;
          } 
          .fbex-fit-title{
              text-align: center;
              margin-bottom: 24px;
          }
          .fbex-fit-title p{
              font-size: 16px;
              line-height: 16px;
          }
          .fbex-fit-btn a{
              display: inline-block;
              width: 180px;
              height: 36px;
              line-height: 36px;
              font-size: 12px;
          }
    }
</style>