<div id="section-{{ section.id }}" class="fri-buy-invite">
    
</div>
{% schema %}
  {
    "name": "FbFriendbuyWithdraw",
    "presets": [
      {
        "name": "fb-friendbuy-withdraw",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
       
    ]
  }
{% endschema %}