<div id="section-{{ section.id }}" class="fri-buy-invite">

</div>
{% schema %}
  {
    "name": "FbFriendbuyInvite",
    "presets": [
      {
        "name": "fb-friendbuy-invite",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
       
    ]
  }
{% endschema %}