<div id="section-{{ section.id }}" class="fb-seo-content">
    <h1 class="Heading u-h2 fb-seo-hide">
        {{ section.settings.fb_seo_h1 }}
    </h1>
</div>
<style>
 .fb-seo-hide{
    display: none;
 } 
</style>
{% schema %}
  {
    "name": "FbSeoContent",
    "presets": [
      {
        "name": "fb-seo-content",
        "category": "fb-section",
        "blocks": []
      }
    ],
    "settings": [
        {
            "type": "text",
            "id": "fb_seo_h1",
            "label": "H1 Title"
        }
    ]
  }
{% endschema %}
