{%- assign desItem = section.blocks | where: 'type', 'desItem' | first -%}
<div id="section-{{ section.id }}" class="fb-showrooms-des">
    {%- for block in section.blocks -%}
    <div class="showrooms-des-wrapper">
        <div class="des-line"></div>
        <div class="des-title">{{block.settings.title}}</div>
        <div class="des-content">{{block.settings.content}}</div>
    </div>
    {%- endfor -%}
</div>
<script type="text/javascript">
    $(function () {

      function resizeDes () {
        let arr = []
        $('.des-title').each(function(ulIndex, ul) {
          arr.push($(ul).height())
        })
        // console.log('arr', arr)
        let arrheight = Math.max(...arr)
        // console.log(arrheight)
        $('.des-title').each(function(ulIndex, ul) {
          $(ul).css('height', arrheight + 'px')
        })
      }  
      if(!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        resizeDes()
      } 
    })
</script>
<style>
.fb-showrooms-des{
    padding:100px 300px 88px;
    color: #1C1B1B;
    display:flex;
    background-color: {{ section.settings.background-color}};
}
.des-line{
    width:40px;
    height:3px;
    background-color:#1c1b1b;
    margin-bottom:20px;
}
.des-title{
    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
    white-space: nowrap;
    /* padding: 20px 0 40px; */
}
.des-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 40px;
}
.showrooms-des-wrapper{
    padding-left: 134px;
}
.fb-showrooms-des .showrooms-des-wrapper:first-child{
    padding-left: 0;
}
@media only screen and (min-width: 1025px) and (max-width: 1549px){
    .fb-showrooms-des{
        padding:81px 150px 71px;
    }
    .des-line{
        width:32px;
        height:2px;
        margin-bottom:16px;
    }
    .des-title{
        font-size: 24px;
        line-height: 30px;
        /* padding: 16px 0 32px; */
    }
    .des-content{
        font-size: 13px;
        line-height: 19px;
        padding-top: 32px;
    }
    .showrooms-des-wrapper{
        padding-left: 90px;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .fb-showrooms-des{
        padding:53px 150px 47px;
    }
    .des-line{
        width:21px;
        height:2px;
        margin-bottom: 11px;
    }
    .des-title{
        font-size: 16px;
        line-height: 20px;
        /* padding: 11px 0 21px; */
    }
    .des-content{
        font-size: 12px;
        line-height: 13px;
        padding-top: 21px;
    }
    .showrooms-des-wrapper{
        padding-left: 50px;
    }
}
@media only screen and (max-width:768px){
    .fb-showrooms-des{
        flex-direction: column;
        padding:60px 30px 20px;
        text-align: center;
    }
    .des-line{
        display:none;
    }
    .des-title{
        font-size: 22px;
        line-height: 22px;
        padding: 0;
    }
    .des-content{
        font-size: 14px;
        line-height: 18px;
        padding: 16px 0 40px;
    }
    .showrooms-des-wrapper{
        padding-left: 0;
    }
}
</style>
{% schema %}
{
"name": "FbShowroomsDes",
"presets": [
  {
    "name": "fb-showrooms-des",
    "category": "Fb Sections",
    "blocks": []
  }
],
"settings": [
    {
        "type": "color",
        "id": "background-color",
        "label": "Background"
    }
],
"blocks":[
    {
        "type": "desItem",
        "name": "Des Item",
        "limit":3,
        "settings": [
              {
                "type": "text",
                "id": "title",
                "label": "Title"
              },
              {
                "type": "richtext",
                "id": "content",
                "label": "Content"
              }
        ]
    }
]
}
{% endschema %}