{{ 'custom-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-js.js' | asset_url }}" defer></script>
<div class="track-order py-12 fb-sm:py-20">
  <div>
    <h1 class="tr-title text-121212">TRACK ORDER</h1>
    <div class="email_input newsletter">
      <div class="password">
        <input
          id="trackOrder"
          type="text"
          name=""
          placeholder="Enter tracking number"
          oninput="getInput(this)"
        >
        <span id="ResetBtn" role="img" aria-hidden="true" class="css-1mj655z" onclick="ResetInput()">
          <svg
            aria-hidden="true"
            focusable="false"
            width="12"
            height="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M1.76 1.76l8.48 8.48M10.24 1.76l-8.48 8.48"></path>
            </g>
          </svg>
        </span>
      </div>

      <div class="submit">
        <input type="submit" value="Track" onclick="getTrackOrder()">
      </div>
    </div>
    <div class="track-list" id="trackList"></div>
  </div>
</div>
