<section  id="section-{{ section.id }}" data-section-id="{{ section.id }}"  class="market-new-popup">
    <aside id="MarketNewsletterPopup" class="market-NewsletterPopup" 
      aria-hidden="false">
      <button class="market-NewsletterPopup__ZoomOut js-market-close-popup">
        <svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
          <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
        </svg>
      </button>
      <div class="market-popup-seconds" id="js-market-popup-seconds">
        
      </div>
      <div class="market-days-desc">
       <p>DAYS</p>
       <span></span>
       <p>HOURS</p>
       <span></span>
       <p>MINUTES</p>
       <span></span>
       <p>SECONDS</p>
      </div>
      <div class="market-NewsletterPopup__Content">
          YOU'VE BEEN CHOSEN! <br/>Get your exclusive $100 OFF
        </div>
        <div  class="market-NewsletterPopup__Form">
            <input type="text" class="Form__Input js-market-popup-input" value="" disabled />
            <button id="js-market-popup-button" class="Button Button--primary Button--full" data-clipboard-text="">COPY DISCOUNT CODE</button>
      </div>
    </aside>
    <div id="market-mm-newsletter-button" class="js-market-circle-btn">
    </div>
</section>


{% schema %}
  {
    "name": "Market Popup",
    "settings": []
  }
{% endschema %}

