<section  id="section-{{ section.id }}" data-section-id="{{ section.id }}" class="market-countdown">
    <div id="js-market-down" class="market-top-down">
        <p class="mtd-title" style="color:{{ section.settings.themeColor }};">
        </p>
        <div id="marketCountdown" class="countdownHolder">
            {% comment %}days {% endcomment %}
            <span class="countDays">
                <span class="position">
					<span class="digit static">0</span>
				</span>
				<span class="position">
					<span class="digit static">0</span>
				</span>
            </span>

            <span class="countHours">
                <span class="position">
					<span class="digit static">0</span>
				</span>
				<span class="position">
					<span class="digit static">0</span>
				</span>
            </span>
            <span class="countDiv countDiv1"></span>

            <span class="countMinutes">
                <span class="position">
					<span class="digit static">0</span>
				</span>
				<span class="position">
					<span class="digit static">0</span>
				</span>
            </span>
            <span class="countDiv countDiv2"></span>

            <span class="countSeconds">
                <span class="position">
					<span class="digit static">0</span>
				</span>
				<span class="position">
					<span class="digit static">0</span>
				</span>
            </span>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "Market Countdown",
    "presets": [
      {
          "name": "market-count-down",
          "category": "My Sections"
      }
    ],
    "settings": [
      {
        "type": "color",
        "id": "themeColor",
        "label": "theme color",
        "default": "#8830F5"
      }
    ]
  }
{% endschema %}
<style>
 
</style>

