
/*  boom animation */
.fb-animation-boom-class img[src=“”],
.fb-animation-boom-class img:not([src]) {
    opacity: 0;
    border: none;
}
.boom-move-show {
  /* animation: boommoveshow 0.3s 1; */
  opacity: 1!important;
}
.boom-move-hide {
    opacity: 0!important;
}
/* pc端 */
.boom-pcshow-mhide{
    display: block;
}
.boom-mshow-pchide{
    display: none;
}
/* 移动端 */
@media only screen and (max-width: 820px){ 
    .fb-animation-boom-class{
        background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/boomfirst.jpg?v=1663671065') no-repeat center;
        background-size: cover;
    }
    .boom-pcshow-mhide{
        display: none;
    } 
    .boom-mshow-pchide{
        display: block;
    }
}
.fb-video-muted-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    z-index: 4;
    cursor: pointer;
}
.fb-video-muted-box1{
    display: none;
    z-index: 5;
}
.fb-video-muted-box2{
    display: none;
    z-index: 5;
}

@media only screen and (min-width:  821px) and (max-width:  1024px){
    .fb-video-muted-box1, .fb-video-muted-box2{
        left: 2%;
        bottom: 20%;
    }
}
@media only screen and (min-width:  1025px)and (max-width:  1078px){
    .fb-video-muted-box1, .fb-video-muted-box2{
        left: 4%;
        bottom: 16%;
    }
}
@media only screen and (min-width:  1079px)and (max-width:  1150px){
    .fb-video-muted-box1, .fb-video-muted-box2{
        left: 6%;
        bottom: 16%;
    }
}
@media only screen and (min-width:  1151px)and (max-width:  1200px){
    .fb-video-muted-box1, .fb-video-muted-box2{
        left: 9%;
        bottom: 13%;
    }
}
@media only screen and (min-width:  1201px){
    .fb-video-muted-box1, .fb-video-muted-box2{
        left: 16%;
        bottom: 8%;
    }
}
@media only screen and (min-width:  821px) {
    .fb-animation-boom-class{
        background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/20220923-112412.jpg?v=1664170715') no-repeat center;
        background-size: cover;
    }
    /* .fb-video-muted-box1, .fb-video-muted-box2{
        left: 21%;
        bottom: 8%;
    } */
}

@media only screen and (max-width:  820px) { 
    /* .fb-video-muted-box1, .fb-video-muted-box2{
        bottom: 10%;
        left: 4%;
    } */
    .fb-video-muted-box1{
        bottom: 70%;
        right:5%;
    }
    .fb-video-muted-box2{
        bottom: 70%;
        right:5%;
    }
}
/* #boom-video-muted{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
.fb-video-muted-btn img{
    width: 100%;
    height: auto;
}
.fac-open-video{
    display: none;
}


.fb-animation-boom img[src=“”],
.fb-animation-boom img:not([src]) {
    opacity: 0;
    border: none;
}
.fb-scroll-boom-container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, rgba(236,178,28,0.8) 0%, rgba(239,150,70,1) 31%, rgba(238,74 ,187,0.8) 62%, rgba(164,21,234,0.8) 82%, rgba(164,21,234,0.8) 90%, rgba(164,21,234,1) 100%);
}

.boom-section-fullimg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    background-color: #d1d1d1;
}
.boom-section-fullimg img{
    width: 100%;
    height: 100%;
}
.boom-section-firsttext{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.boom-section-firsttext p{
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #00BCFF 0%, #9600FF 54%, #FF5FA2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


/* second  z-index 2*/
#boom-section-svga{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
}
/* first after add */

/* first add */
/* third */
#boom-sectionfirst-video, #boom-sectionzero-video{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: linear-gradient(180deg, rgba(236,178,28,0.8) 0%, rgba(239,150,70,1) 31%, rgba(238,74 ,187,0.8) 62%, rgba(164,21,234,0.8) 82%, rgba(164,21,234,0.8) 90%, rgba(164,21,234,1) 100%);
}
#boom-sectionfirst-video{
    z-index: 1;
}
#boom-sectionzero-video{
    z-index: 3;
}
#boom-sectionfirst-video video, #boom-sectionzero-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* third */
#boom-section-video{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    bottom: 0;
    right: 0;
    opacity: 0;
}
#boom-section-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 文字定位 */
.boom-svg-text-box{
    position: absolute;
    width: 100%;
    color: #1D1D1F;
    display: none;
}
.boom-svg-text-box .ctb-title {
    font-size: 54px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    line-height: 54px;
    letter-spacing: 1px;
}
#boom-svg-text{
    z-index: 2;
    top: 0;
    text-align: center;
    padding-top: 180px;
}
#boom-video-text{
    position: absolute;
    z-index: 3;
}

@media only screen and (min-width:  821px) { 
    #boom-video-text{
       width: 500px;
       height: 100vh;
    }
    #boom-video-text .chair-flex-center {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 120px;
    }
}
@media only screen and (min-width:  821px) and (max-width:  1024px) {  
    #boom-video-text{
        right:  2%;
     }
}
@media only screen and (min-width:  1025px) and (max-width:  1024px){

}
@media only screen and (min-width:  1025px) {  
    #boom-video-text{
        right:  10%;
     }
}
.boom-svg-text-box .ctb-desc{
    position: relative;
    z-index: 2;
    font-size: 18px;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 24px;
    margin-top: 24px;
}
.boom-svg-text-box p{
    margin-bottom: 0;
}

@media only screen and (max-width:  820px) { 
    #boom-svg-text {
        width: 100%;
        padding-top: 38%;
        left: 0;
        bottom: 0;
    }
    .boom-svg-text-box .ctb-title{
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 12px;
    }
    .boom-svg-text-box .ctb-desc{
        margin-top: 14px;
    }
    .chair-flex-center{
        width: 100%;
        padding: 0  6%;
    }
    .boom-svg-text-box .ctb-desc, .boom-svg-text-box .ctb-desc p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .boom-section-firsttext p{
        font-size: 40px;
        line-height: 44px;
    }
    #boom-video-text{
        text-align: left;
        z-index: 3;
        padding:0px 6%;
        bottom: 5%;
    }
    #boom-svg-text .ctb-desc {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* boom chair css */

/* 820px */
.fb-boom-chair-card{
    overflow: hidden;
}
#chair-boombtn-svga-one{
    opacity: 1;
}
#chair-boombtn-svga-two{
   opacity: 0;
}
.boomchair-press-btn{
    position: absolute;
    cursor: pointer;
    z-index: 4;
    background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/btn.png?v=1663757381') no-repeat center;
    background-size: 100% 100%;
}
.boomchair-press-inner{
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    color: #1D1D1F;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: column;
}

.fb-animation-boom-chair {
    -webkit-tap-highlight-color: transparent;
}
.boom-chair-press-down {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.boom-chair-press-down img{
    position: absolute;
    right:0;
    bottom: 0;
}
.js-boom-chairup{
    opacity: 1;
    z-index: 2;
}
.js-boom-chairdown {
    opacity: 0;
    z-index: 1;
}
/* pc端 */
@media only screen and (min-width:  821px) {
    .fb-animation-boom-chair {
        height: 660px;
    }
    .fb-animation-boom-chair .utils-boom-card{
        background-color: transparent!important;
    }
    .fb-animation-back-fade{
        /* position: absolute;
        width: 1000px;
        height: 100%;
        left: 50%;
        margin-left: -500px;
        background: linear-gradient(138deg, #00BCE3 0%, #61E2BD 60%, #FFFF00 100%);
        border-radius: 24px;
        opacity: 0.18;
        filter: blur(25px);
        z-index: 1; */
        display: none;
    }
    .fb-boom-chair-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .boom-chair-text-box, .boom-active-box {
        background: #FFFFFF;
        border-radius: 30px;
        height: 100%;
    }
    .boom-chair-text-box{
        width: 41%;
        padding: 0px 6%;
    }
    .boom-active-box{
        width: 56%;
        position: relative;
        overflow: hidden;
    }
    .boom-chair-text-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }
    .boomchair-title{
        color: #1D1D1F;
        line-height: 50px;
        font-size: 50px;
        font-weight: bold;
    }
    .boomchair-title p {
        margin-bottom: 0px;
    }
    .boomchair-title-color{
        background: linear-gradient(135deg, #00BCE3 0%, #6AE0D4 60%, #FFFF00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .boomchair-desc{
        margin-top: 24px;
        font-weight: 500;
        color: #1D1D1F;
        line-height: 24px;
        font-size: 18px;
    }
    .boomchair-press-btn{
        width: 110px;
        height: 110px;
        bottom: 374px;
        right: 69px;
        border-radius: 108px;
    }
    .boomchair-press-inner{
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
    }
    .boom-chair-press-down {
        width: 100%;
        height: 447px;
    }
    .boom-chair-press-down img{
        width: 458px;
        height: 447px;
    }
    .chair-boombtn-svga{
        width: 240px;
        height: 240px;
        position: absolute;
        left: 0px;
        top: -3px;
        z-index: 1;
    }
}
/* 移动端  */
@media only screen and (max-width:  820px) {
    .fb-animation-boom-chair {
        height: 630px;
    }
    .fb-animation-back-fade{
        position: absolute;
        width: 325.2px;
        height: 612px;
        margin: auto;
        background: linear-gradient(138deg, #00BCE3 0%, #61E2BD 60%, #FFFF00 100%);
        border-radius: 24px;
        opacity: 0.15;
        filter: blur(25px);
        z-index: 1;
    }
    .fb-animation-boom-chair {
        height: 630px;
    }
    .boom-chair-text-box{
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        color: #1D1D1F;
        z-index: 4;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }
    .boomchair-title p{
        margin-bottom: 0;
    }
    .boom-chair-text-box .boomchair-title {
        font-size: 36px; 
        line-height: 36px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .boomchair-title-color{
        background: linear-gradient(135deg, #00BCE3 0%, #6AE0D4 60%, #FFFF00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .boom-chair-text-box .boomchair-desc{
        font-size: 16px;
        font-weight: 400;
        color: #1D1D1F;
        line-height: 20px;
        margin-top: 16px;
    }
    .boom-active-box{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .boomchair-press-btn{
        width: 108px;
        height: 108px;
        bottom: 220px;
        right: 18px;
        border-radius: 108px;
    }
    .boomchair-press-inner{
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
    }
    .boom-chair-press-down {
        width: 100%;
        height: 285px;
    }
    .boom-chair-press-down img{
        width: auto;
        height: 285px;
    }
    .chair-boombtn-svga{
        width: 200px;
        height: 200;
        position: absolute;
        left: -15px;
        top: 170px;
        z-index: 1;
    }
   
}
