.js-boombike-delayshow {
  display: none;
}
/* banner boom style */
@media only screen and (min-width: 770px) {
  .fb-boom-circle .ButtonGroup__Item {
    border-radius: 14px;
  }
  /* .fb-boom-circle .fb-dual-key{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 12px;
    } */
  .fb-boom-circle .fb-boom-card-desc {
    width: 754px;
  }
  .fb-boom-circle .fb-boom-card-desc p {
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
  }
  /* .fb-boom-circle .fb_black_variant_price {
        font-size: 60px!important;
       
    } */
  /* .fb-boom-circle  .fb_black_off {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1;
    }
    .fb-boom-circle  .fb_black_compare_price {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1px;
    } */
  /* .fb-boom-circle .SectionHeader__ButtonWrapper{
        margin-top: 56px;
    } */
}

@media only screen and (max-width: 769px) {
  /* .fb-boom-circle .fb-dual-key{
        font-size: 16px;
        font-weight: 400;
    } */
  /* .fb-boom-circle .fb-dual-key p {
        font-size: 24px;
    } */
  .fb-boom-circle .ButtonGroup__Item {
    border-radius: 24px;
  }
  /* .fb-boom-circle .fb_black_off{
        font-size: 14px;
    }
    .fb-boom-circle  .fb_black_compare_price {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1;
    } */
  /* .fb-boom-circle .SectionHeader__ButtonWrapper {
        margin-top: 37px;
    } */
}

/* pr boom  style*/
.fb_value_prboom {
  background: #efefef;
  margin-bottom: -2px;
}
.prboom_pc {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.prboom_pc::-webkit-scrollbar {
  display: none;
}
.prboom-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}
.prboom-box:last-child {
  margin-right: 0px;
}
@media only screen and (min-width: 769px) {
  .fb_value_prboom {
      height: auto;
      padding-top: 8px;
      padding-bottom: 40px;
      position: relative;
  }
  .prboom_pc {
      overflow-y: hidden;
      height: 432px;
      margin-bottom: 0px;
  }
  .prboom-box {
    width: 340px;
    height: 288px;
    border-radius: 24px;
    cursor: pointer;
  }
  .prboom-box:nth-child(4) {
      margin-right: 0px;
  }
  .prboom-box:hover {
    background: linear-gradient(315deg, #9600ff 0%, #406cef 47%, #00bce3 100%);
  }
  .prboom-box:hover .iconPic {
    display: none;
  }
  .prboom-box:hover .iconHover {
    display: block;
  }
  .prboom-box:hover {
    background: linear-gradient(315deg, #9600ff 0%, #406cef 47%, #00bce3 100%);
  }
  .prboom-box-shadown {
    display: none;
    position: absolute;
    width: 137%;
    height: 150%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background: linear-gradient(315deg, #9600FF 0%, #406CEF 47%, #00BCE3 100%); */
    background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/showdown.png?v=1664342968')
      center;
    background-size: 100% 100%;
    z-index: 1;
  }
  .prboom-box:hover .prboom-box-shadown {
    display: block;
  }
  /* .prboom_pc{
        padding-top: 64px;
        padding-bottom: 0px;
    } */
  .prboom_pc_item {
    width: 100%;
    height: 288px;
    background-color: #fff;
    border-radius: 24px;
    color: #000;
    position: relative;
    z-index: 2;
  }
  .prboom-box:hover .prboom_pc_item {
    background-color: transparent;
    color: #fff;
  }
  .prboom_imgWrapper {
    width: 100%;
    height: 36px;
  }
  .prboom_imgWrapper img {
    width: auto;
    height: 36px;
  }
  .prboom_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 12px;
  }
  .prboom_des {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .iconPic {
    display: block;
  }
  .iconHover {
    display: none;
  }
  .prboom-box-mobpadding {
    display: none;
  }
}
@media only screen and (min-width: 1481px) {
  .prboom_pc {
    justify-content: center;
  }
  .prboom-box {
    flex-shrink: 0;
    margin-right: 30px;
  }
  .prboom-box {
    width: 340px;
  }
  .prboom_pc_item {
    padding: 28px 31px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1480px) {
  .prboom_pc {
    justify-content: center;
    padding: 0px 10px 0px 20px;
  }
  .prboom_title {
    font-size: 19px;
  }
  .prboom-box {
    width: 300px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .prboom_pc_item {
    padding: 28px 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1399px) {
  .prboom_pc {
    justify-content: flex-start;
    padding: 0px 0px 10px 20px;
  }
  .prboom-box {
    width: 300px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .prboom_pc_item {
    padding: 28px 15px;
  }
}
/* mobile */
@media only screen and (max-width: 768px) {
  .prboom_pc {
    justify-content: flex-start;
    padding: 0px 0px 0px 25px;
  }
  .prboom-box {
    width: 300px;
    height: 342px;
    background: linear-gradient(315deg, #9600ff 0%, #406cef 47%, #00bce3 100%);
    border-radius: 24px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .prboom-box:last-child {
    margin-right: 0px;
  }
  .prboom-box-shadown {
    display: none;
  }
  .prboom_pc {
    padding-top: 40px;
  }
  .prboom_pc_item {
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
  }
  .prboom_imgWrapper {
    width: 100%;
    height: 36px;
  }
  .prboom_imgWrapper img {
    width: auto;
    height: 36px;
  }
  .prboom_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 12px;
  }
  .prboom_des {
    margin-top: 11px;
  }
  .prboom_des p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 25px;
  }
  .iconPic {
    display: none;
  }
  .iconHover {
    display: block;
  }
  .prboom-box-mobpadding {
    width: 5px;
    padding: 0px 5px 0px 0px;
    opacity: 0;
    visibility: hidden;
  }
}

/* product style */

.fb-product-pagesbike {
  background-color: #fff;
}
.fb-product-pagesbike .Product {
  margin: 0 auto;
}
.fb-product-pagesbike .payment_method_button .activeBorder {
  border: 1px solid #000;
}
.fb-product-pagesbike .product_popup {
  padding-bottom: 0px;
  padding-top: 22px;
}
.fb-product-pagesbike .pdp-gift-section {
  margin: 32px 0px 0px 0px;
}
.fb-product-pagesbike .payment_method_button {
  padding: 16px 0px 16px 0px;
}
.fb-product-pagesbike .gift-pic-wrapper {
  margin-bottom: 10px;
}
.fb-product-pagesbike .pdp-gift-title div {
  font-weight: 600;
}
.fb-product-pagesbike .pdp-gift-section {
  border-radius: 20px;
  padding: 30px 24px;
  height: auto;
}
.fb-product-pagesbike .changecolorWrapper {
  margin: 8px 0 8px;
}
.fb-product-pagesbike .change-color-des {
  padding-bottom: 4px;
  font-size: 14px;
}
@media only screen and (max-width: 640px) {
  .fb-product-pagesbike .changecolorWrapper {
    margin: 8px 0px;
  }
}
.gift-des p {
  color: #1d1d1f;
  font-weight: 500;
  line-height: 14px;
}
@media screen and (max-width: 1330px) {
  .fb-product-pagesbike {
    border-radius: 30px 30px 0px 0px;
    padding-top: 10px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 769px) {
  .fb-product-pagesbike .pay_now,
  .fb-product-pagesbike .pay_overTime {
    border-radius: 14px;
  }
  .fb-product-pagesbike .shopify-payment-button__button--unbranded::before,
  .fb-product-pagesbike .Button--primary::before {
    border-radius: 14px;
  }
  .fb-product-pagesbike .gift-pic {
    width: auto;
    height: 68px;
  }
  .prboom_pc {
    /* position: relative; */
    margin-bottom: 40px;
  }
  .prboom_button {
    display: none;
  }
  .prboom_button_pc {
    width: 100%;
    height: 48px;
    position: absolute;
    top: 400px;
    left: 0px;
  }
  .prboom_button_mob{
    display: none;
  }
 
  .prboom_button_pc_box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prboom_button_pc a {
    width: 320px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 700;
  }
  .prboom_button_one{
    background: #1d1d1f;
    color: #fff;
    border: none!important;
  }
  .prboom_button_two{
    background: #1d1d1f;
    color: #fff;
    margin-left: 27px;
  }
}
@media screen and (max-width: 768px) {
  .fb-product-pagesbike {
    margin: 0 auto;
  }
  .fb-product-pagesbike .AspectRatio {
    height: 320px;
  }
  .fb-product-pagesbike .pay_now,
  .fb-product-pagesbike .pay_overTime {
    border-radius: 12px;
  }
  .fb-product-pagesbike .shopify-payment-button__button--unbranded::before,
  .fb-product-pagesbike .Button--primary::before {
    border-radius: 12px;
  }
  .fb-product-pagesbike .AspectRatio > img,
  .fb-product-pagesbike .no-js .AspectRatio > noscript img {
    /* object-fit: cover; */
    width: 320px;
    left: 50%;
    margin-left: -160px;
  }
  .fb-product-pagesbike .payment_method_button {
    padding: 12px 0 10px;
  }
  .fb-product-pagesbike .product_popup {
    padding-bottom: 18px;
  }
  .fb-product-pagesbike .Product {
    margin: 0 auto 30px auto;
  }
  .fb-product-pagesbike .pdp-gift-title {
    padding-bottom: 30px;
  }
  .fb-product-pagesbike .gift-pic {
    width: auto;
    height: 68px;
  }
  .fb-product-pagesbike .deliverContainer {
    margin-top: 10px;
  }
  .prboom_pc {
    padding-bottom: 40px;
  }
  .prboom_button_pc {
    display: none;
  }
  .prboom_button_mob{
    display: block;
    width: 100%;
    margin-top: -10px;
    padding-bottom: 40px;
  }
  .prboom_button_pc_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .prboom_button_mob a {
    width: 181px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
  }
  .prboom_button_one{
    background: #1d1d1f;
    color: #fff;
    border: none!important;
  }
  .prboom_button_two{
    background: #1d1d1f;
    color: #fff;
    margin-top: 15px;
    
  }

  .prboom_button {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    right: 0;
    bottom: 42px;
    z-index: 2;
    width: 160px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration-line: underline;
    border-radius: 8px;
  }
  .prboom_button span {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
  }
}

.fb-product-pagesbike .current,
.fb-product-pagesbike .info .aging span {
  color: #000;
}
.fb-product-pagesbike .gift_des,
.fb-product-pagesbike .charity_des {
  color: #000;
}

.fb-product-pagesbike .gift_icon {
  background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/giftblack.png?v=1658227114')
    no-repeat center;
  background-size: 100% 100%;
}
.fb-product-pagesbike .gift_icon img,
.fb-product-pagesbike .charity_icon img {
  display: none;
}
.fb-product-pagesbike .charity_icon {
  background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/heart.png?v=1658284459')
    no-repeat center;
  background-size: 100% 100%;
}
.fb-product-pagesbike #details_icon img {
  opacity: 0;
}
.fb-product-pagesbike .deliverContainer {
  justify-content: flex-start;
}
.fb-product-pagesbike #details_icon {
  background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/icon.png?v=1663912945')
    no-repeat center;
  background-size: 100% 100%;
}
.fb-product-pagesbike .shopify-payment-button__button--unbranded {
  border-color: #000;
}
.fb-product-pagesbike .shopify-payment-button__button--unbranded::before,
.fb-product-pagesbike .Button--primary::before {
  background-color: #000;
}
.fb-product-pagesbike #xbike-add-to-cart-main {
  border-color: #fff;
  padding: 0;
  height: 48px;
}
.fb-product-pagesbike .flickity-page-dots .dot.is-selected {
  border-color: #000 !important;
  background-color: #000 !important;
}
.fb-product-pagesbike .klarna_right_box #klarnaLearmore {
  color: #000;
}
.fb-product-pagesbike .Product__SlideshowMobileNav {
  position: relative;
}

.fb-product-pagesbike #addProdctTitle {
  font-size: 30px;
}
.stamped-badge-caption {
  text-decoration: underline;
}

@media only screen and (min-width: 100px) and (max-width: 650px) {
  .fb-product-pagesbike #addProdctTitle {
    font-size: 24px;
  }
}
@media screen and (min-width: 1008px) {
  .fb-product-pagesbike .Product__InfoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fb-product-pagesbike .Product__Info {
    position: static;
  }
  .fb-product-pagesbike #details_icon {
    cursor: pointer;
  }
  .fb-product-pagesbike .hoverBox {
    right: 33%;
    top: 30px;
  }
}
.fb-product-pagesbike .pdp-gift-title {
  color: #1d1d1f;
}
.fb-product-pagesbike .pdp-gift-title strong {
  color: #1d1d1f !important;
}
