.fb-boom-incredible{
    background: #EFEFEF;
    color: #1D1D1F;
    text-transform: uppercase;
    text-align: center;
}


/* pc端 */
@media only screen and (min-width: 821px){
    .pcshow-mhide{
        display: block;
    }
    .mshow-pchide{
        display: none;
    }
    .fb-boom-incredible{
        font-size: 60px;
        line-height: 60px;
        font-weight: 800;
        padding-bottom: 60px;
        padding-top: 110px;
    }
    .fb-boom-resistance{
        height: 660px;
        background: #EFEFEF;
    }
    .fb-boom-resistance-content{
        height: 100%;
        background: #fff;
        border-radius: 30px;
        position: relative;
    }
    .boom_resistance_right{
        position: absolute;
        margin-left: 60%;
        margin-top: 18%;
    }
    .boom_resistance_title_black{
        display: inline-block;
        color: rgba(29, 29, 31, 1);
        font-size: 54px;
        font-weight: bold;
        color: #1D1D1F;
        line-height: 54px;
    }
    .boom_resistance_title_color{
        position: absolute;
        left: 0;
        top: 54px;
        font-size: 54px;
        font-weight: bold;
        line-height: 54px;
        background: linear-gradient(135deg, #00BCFF 0%, #9600FF 50%, #FF5FA2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .boom_resistance_desc{
        width: 279px;
        height: 72px;
        position: absolute;
        margin-top: 24px;
    }
    .boom_resistance_desc p{
        font-size: 18px;
        font-weight: 500;
        color: #1D1D1F;
        line-height: 24px;
    }
    .boom_resistance_left{
        width: 462px;
        height: 100%;
        margin-left: 2%;
    }
    .boom_resistance_video_pc{
        object-fit: fill;
        width: auto;
        height: 100%;
    }
}

/* 移动端 */
@media only screen and (max-width: 820px){
    .mshow-pchide{
        display: block;
    }
    .pcshow-mhide{
        display: none;
    } 
    .fb-boom-incredible{
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1px;
        padding-bottom: 40px;
        padding-top: 40px;
        font-weight: 600;
    }
    .fb-boom-resistance{
        width: 100%;
        background:#EFEFEF;
        padding: 0 25px;
        padding-bottom: 34px;
        height: 774px;
    }
    .fb-resistance-back-fade{
        position: absolute;
        width: 325.2px;
        height: 753px;
        margin: auto;
        background: linear-gradient(135deg, #00BCFF 0%, #9600FF 50%, #FF5FA2 100%);
        border-radius: 24px;
        opacity: 0.15;
        filter: blur(25px);
        z-index: 1;
    }
    .fb-boom-resistance-content{
        margin: auto;
        border-radius: 24px;
        /* display: none; */
        position: relative;
    }
    .boom_resistance_right{
        position: relative;
        margin-left: 30px;
    }
    .boom_resistance_title_black{
        margin-top: 30px;
        display: inline-block;
        color: rgba(29, 29, 31, 1);
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 36px;
    }
    .boom_resistance_title_color{
        position: absolute;
        left: 0;
        top: 66px;
        background-image:-webkit-linear-gradient(left,#00BCFF,#9600FF,#FF5FA2);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 36px;
    }
    .boom_resistance_desc{
        width: 230px;
        /* height: 60px; */
        font-size: 16px;
        font-weight: 400;
        color: #1D1D1F;
        line-height: 20px;
        text-align: left;
        margin-top: 16px;
    }
    .boom_resistance_left{
        width: 100%;
        height: 518px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        border-radius: 0px 0px 24px 24px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .boom_resistance_video_mobile{
        object-fit: fill;
        width: auto;
        height: 100%;
        border-radius: 24px;
    }
}


/* pross bar section */
#progressbar-container{
    position: absolute;
    z-index: 3;
}
#progressbar-container-desc{
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    font-weight: 600;
    color: #fff;
    line-height: 18px;
    margin-bottom: 13px;
}
.ui-widget-content{
    background: #626062 !important;
    padding: 0 5px !important;
    border-radius: 10px !important;
    border: none !important;
    height: 8px !important;
}
.ui-widget-header{
    background: linear-gradient(90deg, #00BCFF 0%, #9600FF 50%, #FF5FA2 100%);
    border-radius: 9px !important;
    border: none !important;
    height: 4px !important;
    margin-top: 2px !important;
}

#progressbar-container-desc{
    font-size: 12px;
    margin-bottom: 2px;
}
#progress-add{
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (min-width: 821px){
    #progressbar{
        width: 276px;
    }
    /* #progressbar-container-desc{
        font-size: 18px;
    } */
    
}
@media only screen and (min-width:  1025px) { 
    #progressbar-container{
        width: 280px;
        bottom: 59%;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -213px;
    }
}
@media only screen and (min-width:  821px) and (max-width:  1024px) { 
    #progressbar-container{
        width: 280px;
        bottom: 394px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -117px;
    }
}
@media only screen and (max-width: 820px){
    #progressbar-container{
        width: 210px;
        bottom: 45%;
        left: 50%;
        transform: translateX(-50%);
    }
    #progressbar{
        width: 205px;
    }
   
}