.fb-boomclg-section{
    background-color: #EFEFEF;
}
.fb-boomclg-section-content{
    padding-top: 40px;
}
/* .fb-boomclg-content .swiper-scrollbar{
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    z-index: 2;
    cursor: pointer;
}
.fb-boomclg-content .swiper-scrollbar-drag{
    border-radius: 3px;
} */
.fb-boomclg-title, .fb-boomclg-title p{
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 22px;
    letter-spacing: 1px;
}
.fb-boomclg-desc, .fb-boomclg-desc p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    margin-top: 10px;
}
/* pc端 */
@media only screen and (min-width: 769px){
    .fb-boomclg-section{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
        height: 660px;
        
    }
    .fb-productclg-section .utils-boom-card{
        border-radius: 30px;
    }
    .fb-boomclgpc-box{
        position: relative;
        /* padding-top: 84px; */
        padding-left: 61px;
        overflow: hidden;
    }
    .fb-boonclg-max-block{
        position: absolute;
        top: 84px;
        left: 61px;
        z-index: 3;
    }
    .fb-boonclg-maxtitle, .fb-boonclg-maxtitle p {
        font-size: 60px;
        font-weight: 800;
        color: #1D1D1F;
        line-height: 60px;
        letter-spacing: 1px;
      
    }
    .fb-boonclg-maxdesc, .fb-boonclg-maxdesc p { 
        margin-top: 16px;
        font-size: 18px;
        font-weight: 400;
        color: #1D1D1F;
        line-height: 20px;
    }
    .fb-boomclg-content{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .fb-boomclg_item{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }
    
    .fb-boomclg-text{
        padding-top: 376px;
        flex: 1;
    }
    .fb-boomclg-video{
        height: 100%;
    }
    .fb-boomclg-video video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .boom-challenge-scrollbar {
        width: 80px;
        height: 4px;
        background: #D8D8D8;
        border-radius: 2px;
        color: #1D1D1F;
        align-items: center;
        justify-content: center;
        left: 0px;
        bottom: 100px;
        z-index: 3;
    }
    /* #fbboomclgSwiperMobr  .swiperImg {
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: block;
        width: 120px;
    
    } */
    .fb-productclg-section .fb-boonclg-maxtitle,.fb-productclg-section .fb-boonclg-maxtitle p{
        font-weight: bold;
    }
}
@media only screen and (min-width: 1025px) { 
    .fb-boonclg-max-block{
        width: 410px;
    }
    .fb-boomclg-video{
        width: 572px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .fb-boonclg-max-block{
        width: 310px;
    }
    .fb-boomclg-video{
        width: 472px;
    }
    .fb-boonclg-maxtitle, .fb-boonclg-maxtitle p{
        font-size: 45px;
        line-height: 58px;
    }
    .boom-challenge-scrollbar{
        bottom: 120px;
    }
}
/* mobile style */
@media only screen and (max-width: 768px){
    .fb-boomclg-content{
        width: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden; 
        padding-bottom: 60px;
    }
    .fb-boomclg-section-content{
        padding-top: 0;
    }
    .fb-boonclg-max-block{
        padding-top: 30px;
        text-align: center;
        padding-bottom: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .fb-productclg-section  .fb-boonclg-max-block {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .fb-boonclg-maxtitle, .fb-boonclg-maxtitle p {
        font-size: 40px;
        font-weight: 800;
        color: #1D1D1F;
        line-height: 44px;
        letter-spacing: 1px;
    }
    .fb-productclg-section  .fb-boonclg-maxtitle, .fb-productclg-section .fb-boonclg-maxtitle p {
        font-size: 32px;
        line-height: 36px;
    }
    .fb-boonclg-maxdesc{
        padding-right: 10px;
    }
    .fb-boonclg-maxdesc, .fb-boonclg-maxdesc p { 
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        color: #1D1D1F;
        line-height: 20px;
    }
    .fb-productclg-section  .fb-boonclg-maxdesc {
        margin-top: 16px;
    }
    .fb-productclg-section .fb-boonclg-maxdesc p {
        font-size: 14px;
        color: #1D1D1F;
        line-height: 18px;
    }
    .boomclg-button-prev, .boomclg-button-next{
        display: none;
     }
    .fb-boomclg-content{
        height: auto;
    }
    .fb-boomclg_imgblock{
        border-radius: 7px;
    }
    .fb-boomclg_item{
        /* img 180px */
        width: 274px;
        height: 440px;
        margin: 0px 10px 0px 10px;
        background: #FFFFFF;
        border-radius: 24px;
        padding-top: 40px;
        overflow: hidden; 
        position: relative;
    }
    .fb-boomclg-text{
        text-align: center;
        padding: 0px 27px;
    }
    .fb-boomclg-video{
        width: 100%;
        height: 256px;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    .fb-boomclg-video video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 24px 24px;
    }
    .fb-boomclg_item:first-child{
        margin: 0px 10px 0px 25px!important;
    }
    .fb-boomclg_item:last-child{
        margin: 0px 0px 0px 10px!important;
    }
    .fb-boomclg-mob-padding{
        padding: 0px 15px 0px 0px;
        height: 100%;
        visibility: hidden;
    }
    /* .fb-boomclg-section  .swiper-horizontal>.swiper-scrollbar{
        width: 105px!important;
        height: 2px!important;
        background: #D8D8D8;
        border-radius: 1px;
        color: #9600FF;
        align-items: center;
        justify-content: center;
    } */
    .fb-boomclg-desc, .fb-boomclg-desc p{
        font-size: 12px;
    }

}