.fb-exercise-bikes{
    width: 100%;
}
.fb-exercise-bikes p {
    margin: 0;
    padding: 0;
}
.fb-exercies-title{
    width: 100%;
    text-align: center;
}
.exercies-bike-block{
}
.exercies-default-color{
    color: #333;
    border: 1px solid #333333;
}
.exercies-boom-color{
   color: #06B8D4; 
   border: 1px solid #06B8D4;

}
.exbb-img{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.exbb-sold-out{
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
}
@media only screen and (min-width: 1340px) {
    .exercies-bike-block{
        max-width: 1280px;
    }
}

@media only screen and (min-width: 768px) {
    .fb-exeries-mob-show{
        display: none;
    }
    .fb-exeries-pc-show{
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .fb-exeries-mob-show{
        display: block;
    }
    .fb-exeries-pc-show{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .fb-exercies-title{
        margin-top: 80px;
    }
    .exercies-bike-block{
        margin: 0px auto 0px auto;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        padding-bottom: 20px;
    }
    .fb-exercies-title p {
        font-size: 36px;
        font-weight: bold;
        color: #333333;
        line-height: 36px;
    }
    .exercies-bike-block{
        max-width: 1280px;
        margin: 60px auto 0px auto;
        text-align: center;
    }
    .exercies-type{
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .exercies-icon{
        width: 100%;
        margin-bottom: 24px;
    }
    .exercies-icon span{
        display: inline-block;
        border-radius: 4px 4px 4px 4px;
        opacity: 1;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        padding: 4px 10px;
    }
    .exercies-desc{
        margin-bottom: 40px;
        text-align: center;
    }
    .exercies-desc p {
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        line-height: 16px;
    }
    .exercies-bike-conetent{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-shrink: 0;
        flex-wrap: wrap;
    }
    
    .exbb-box{
        width: 302px;
        min-height: 466px;
        text-align: center;
        margin-right: 24px;
        margin-bottom: 40px;
    }
    .exercies-bike-conetent .exbb-box:last-child{
        margin-right: 0px;
    }
    .exbb-img{
        width: 100%;
        height: 302px;
        text-align: center;
    }
    .exbb-img img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        object-fit: cover;
    }
    .exbb-sold-out{
        width: 92px;
        height: 24px;
        background: #888888;
        border-radius: 12px 12px 12px 12px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
    }
    .exbb-name{
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .exbb-rate{
        height: 20px;
        width: 100%;
        margin-bottom: 17px;
    }
    .exbb-rate .stamped-badge{
        font-size: 16px;
        color: #666;
        font-weight: 400;
        line-height: 22px;
    }
    .exbb-price{
        width: 100%;
        margin-bottom: 20px;
    }
    .exbb-price-origin{
        font-size: 20px;
        font-weight: 400;
        color: #888888;
        line-height: 20px;
        text-decoration-line: line-through;
    }
    .exbb-price-real{
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        line-height: 20px;
        margin-left: 8px;
    }
    .exbb-button{
        width: 100%;
        height: 48px;
        line-height: 48px;
        background: #000000;
        border-radius: 0px 0px 0px 0px;
    }
    .exbb-button a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    .fa-star-half-o:before, .fa-star-o:before, .fa-star:before, .stamped-fa-star-half-o:before, .stamped-fa-star-o:before, .stamped-fa-star:before {
        font-size: 20px;
        margin-right: 2px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1339px) {
    .exercies-bike-block{
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
    }
    .exercies-bike-conetent{
        justify-content: space-between;
        align-items: flex-start;
    }
    .exbb-box{
        margin-right: 0px!important;
    }
}
@media only screen and (max-width: 767px) {
    .exercies-bike-block{
        margin: 0px auto 0px auto;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        padding-bottom: 17px;
    }
    .fb-exercies-title{
        width: 100%;
        margin: 39px auto 0px auto;
        text-align: center;
    }
    .fb-exercies-title p {
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        line-height: 26px;
    }
    .exercies-bike-block{
        width: 92%;
        margin: 32px auto 0px auto;
        text-align: center;
    }
    .exercies-type{
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        line-height: 16px;
        margin-bottom: 12px;
    }
    .exercies-icon{
        width: 100%;
        margin-bottom: 16px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exercies-icon span{
        display: inline-block;
        line-height: 19px;
        border-radius: 4px 4px 4px 4px;
        opacity: 1;
        font-size: 12px;
        font-weight: 500;
        padding: 0px 8px;
    }
    .exercies-desc{
        margin-bottom: 20px;
        text-align: center;
        padding: 0px 37px;
    }
    .exercies-desc p {
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        line-height: 16px;
    }
    .exercies-bike-conetent{
        width: 346px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-shrink: 0;
        flex-wrap: wrap;
        margin: 0 auto;

    }
    .exbb-box{
        width: 165px;
        min-height: 305px;
        text-align: center;
        margin-bottom: 15px;
    }
    .exbb-img{
        width: 100%;
        height: 165px;
        text-align: center;
        margin-bottom: 12px;
    }
    .exbb-img img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        object-fit: cover;
    }
    .exbb-sold-out{
        width: 67px;
        height: 20px;
        background: #888888;
        border-radius: 12px 12px 12px 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
    }
    .exbb-name{
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .exbb-name span{
        display: block;
        width: 100%;
    }
    .exbb-name .exbb-span2{
        font-size: 12px;
        font-weight: 500;
        color: #666666;
        line-height: 12px;
    }
    .exbb-rate{
        height: 12px;
        width: 100%;
        margin-bottom: 10px;
    }
    .exbb-rate .stamped-badge{
        font-size: 12px;
        color: #666;
        font-weight: 400;
        line-height: 15px;
    }
    .exbb-price{
        width: 100%;
        margin-bottom: 16px;
        line-height: 14px;
    }
    .exbb-price-origin{
        font-size: 14px;
        font-weight: 400;
        color: #888888;
        line-height: 14px;
        text-decoration-line: line-through;
    }
    .exbb-price-real{
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        line-height: 14px;
        margin-left: 6px;
    }
    .exbb-button{
        width: 100%;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background: #000000;
        border-radius: 0px 0px 0px 0px;
    }
    .exbb-button a {
        color: #fff;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }
    .fa-star-half-o:before, .fa-star-o:before, .fa-star:before, .stamped-fa-star-half-o:before, .stamped-fa-star-o:before, .stamped-fa-star:before {
        font-size: 15px;
        margin-right: 2px;
    }
}
.exbb-box-last{
    margin-right: 0px;
}