
.fb-terms-textcontent::-webkit-scrollbar{
    width: 2px;
    background-color:#ddd;
    border-radius: 5px;
}
.js-open-termdialog{
    cursor: pointer;
}
.fri-buy-left p, .fri-buy-right p{
  margin: 0;
  padding: 0;
}
/*定义滚动条轨道

 内阴影+圆角*/
#fb-sendCode{
    cursor: pointer;
}
.fb-terms-textcontent::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}


.fb-terms-textcontent::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#000;
}
.fb-share-textarea{
    position: relative;
}
.fri-buy-banner p{
    font-weight: 600;
}
.fri-active-desc p{
   font-weight: normal;
}
.fri-buy-banner p .fb-friend-kinds-model p{
    margin: 0;
    padding: 0;
}

#main{
    overflow: hidden;
}
.fri-buy-content{
    width: 100%;
    height: 100%;
    position: relative;
}
.fri-buy-imgbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.js-close-share,.js-close-terms{
    cursor: pointer;
}
.fri-buy-imgbox::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.1600) 63%, rgba(0,0,0,0.3200) 76%, rgba(0,0,0,0.4900) 88%, rgba(0,0,0,0.71) 100%);
    z-index: 2;
}
.fri-buy-imgbox img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.fri-left-title p{
   color: #fff; 
   font-weight: 700;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);    
}
.fri-left-desctitle p{
    color: #fff;
    font-weight: 500;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.fri-buy-textbox{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.fri-buy-form{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}
.fri-form-title p {
    font-weight: 700;
    color: #000;
    font-weight: 700;
}

.fri-form-enter p{
    color: #000;
    font-weight: 500;
}
.form-control{
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: transparent;
    text-align: left;
}
.is-invalid {
    border-color: #F74D50!important;
    background-image: none;
}
.fb-invalid-feedback {
    position: absolute;
    left: 0;
    bottom: -1px;
    font-size: 12px;
    color: #F74D50;
    font-weight: bold;
    display: none;
}
input::input-placeholder{
	color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
input::-ms-input-placeholder{text-align: left;}

input::-webkit-input-placeholder{text-align: left;}
/* .fri-form-name, .fri-form-email{
    position: relative;
    padding-bottom: 15px;
} */
.fri-form-box{
    width: 100%;
  
}
.fri-buy-customer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.customer_service_right p:nth-child(1) {
    color: rgba(0, 0, 0, 0.6);
}
.fri-term span{
    text-decoration: underline;
}
.fri-subview{
    cursor: pointer;
}
.fri-subview span{
    background: linear-gradient(90deg, #8104FE 0%, #FC5EA7 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 769px){ 
    .fri-buy-banner{
        height: calc(var(--window-height) - (var(--header-height) * var(--header-is-not-transparent, 0)) - var(--announcement-bar-height, 0px));
    }
    .fri-banner-mob {
       display: none; 
    } 
    .fri-buy-textbox{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fri-buy-left{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .fri-left-title p{
        font-size: 64px;
        line-height: 78px;
    }
    .fri-left-title{
        position: relative;
    }
    /* .fri-left-title img{
        width: 104px;
        height: auto;
        position: absolute;
        top: 15%;
        right: 0;
        display: inline-block;
    } */

    .fri-left-desctitle{
        margin-top: 20px;
    }
    .fri-left-desctitle p{
        font-size: 40px;
        line-height: 49px;
    }
    .fri-buy-right{
        /* width: 34%; */
        height: 100%;
        padding-left: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fri-form-title{
        margin-bottom: 48px;
    }
    .fri-form-title p {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    .fri-form-title .fr-form-imgp img{
        width: auto;
        height: 21px;
        margin-top: 9px;
        display: inline-block;
    }
    .fri-form-enter p{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .fri-form-enter{
        margin-bottom: 32px;
    }
    .form-control{
        font-size: 16px;
        font-weight: 500;
        padding-left: 25px;
        border-radius: 10px;
    }
    .fri-form-btn{
        text-align: center;
    }
    .fri-submitemail, .fri-subview {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        width: 340px;
        margin: 0 auto;
    }
    .fri-submitemail {
        margin-top: 7px;
    }
   
    .form-control, .fri-submitemail {
        height: 56px;
        line-height: 56px;
        border-radius: 15px;
    }
    .fri-subview{
        height: 56px;
        line-height: 56px;
        background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/pcviewmob.png?v=1668422636') no-repeat center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        margin: 0 auto;
        margin-top: 16px;
    }
    .fri-subview span{
        font-size: 20px;
        font-weight: bold;
    }
    .form-control {
        width: 100%;
    }
    .form-control{
        margin-bottom: 16px;
    }
    .mobileshow-pchide{
        display: none;
    }
    /* pc */
    .fri-buy-customer{
        width: 100%;
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 23px 0px 21px;
        margin-bottom: 41px;
    }
    .fri-customer-img{
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }
    .customer_service_right, .customer_service_right p{
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        color: #000000;
    }
    .fri-term{
        /* margin-top: 37px; */
        width: 100%;
        text-align: left;
        height: 17px;
        line-height: 17px;
    }
    .fri-term span{
        font-weight: 500;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: -8%;
    }
    .customer_service_right p:nth-child(2n) {
        text-decoration: underline;
    }
    .fri-buy-bottom{
        width: 400px;
        height: 84px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(37.5px);
        border-radius: 20px;
        margin-top: 20px;
        overflow: hidden;
    }
    .fri-active-box{
        padding: 8px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fri-active-left{
        width: 100%;
        color: #000;
    }
    .fri-active-name p{
        font-weight: bold;
        font-size: 17px;
        line-height: 26px;
    }
    .fri-active-desc p {
        font-size: 16px;
        line-height: 26px;
    }
    .fri-buy-active-right{
        height: 52px;
    }
    .fri-buy-active-right p {
        text-align: right;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
    }
    
}
@media only screen and (min-width: 769px) and (max-width: 1437px){
    .fri-left-title p{
        font-size: 44px;
        line-height: 58px;
    }
    /* .fri-left-title img{
        display: none;
    } */
    .fri-form-title{
        margin-bottom: 20px;
    }
    .fri-left-desctitle{
        margin-top: 20px;
    }
    .fri-submitemail{
        margin-top: 15px
    }
    .fri-left-desctitle p{
        font-size: 20px;
        line-height: 29px;
    }
    .fri-buy-form{
        width: 400px;
        height: auto;
        backdrop-filter: blur(37.5px);
        /* height: 542px; */
        padding: 20px 30px;
    }
    .fri-buy-customer{
        margin-bottom: 16px;
    }
    .fri-buy-banner{
      height: 800px;
    }
}
@media only screen and (min-width: 1439px){
    .fri-buy-form{
        width: 500px;
        /* min-height: 642px; */
        padding: 60px 50px 20px 50px;
        backdrop-filter: blur(37.5px);
    }
    .fri-buy-bottom{
        width: 500px;
    }
    .fri-buy-banner{
        height: 950px;
    }
}
@media only screen and (max-width: 768px){ 
    input::input-placeholder{
      font-size: 12px;
    }
    input::-ms-input-placeholder{font-size: 12px;}
    
    input::-webkit-input-placeholder{font-size: 12px;}
    .fri-buy-banner{
        height: 717px;
    }
    .fri-banner-pc {
        display: none;
    }
    .fri-buy-textbox{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .fri-buy-left, .fri-buy-right, .fri-buy-bottom{
        width: 325px;
    }
    .fri-left-title{
        margin-top: 28px;
        margin-bottom: 8px;
    }
    .fri-left-title p{
        font-size: 24px; 
        line-height: 30px;
    } 
    .fri-left-title{
        position: relative;
    }
    /* .fri-left-title img{
        width: 52px;
        height: 16px;
        position: absolute;
        top: 9px;
        left: 43%;
    } */
    .fri-left-desctitle p{
        font-size: 14px;
        line-height: 20px;
    }
    .fri-left-desctitle{
        margin-bottom: 12px;
    }
    .fri-buy-form{
        width: 325px;
        padding: 32px 30px  12px 30px;
        background: rgba(255,255,255,0.6);
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
        border-radius: 12px 12px 12px 12px;
        backdrop-filter: blur(37.5px);
    }
    .fri-form-title p{
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    .fri-form-title .fr-form-imgp img{
        width: auto;
        height: 16px;
        margin-top: 6px;
        display: inline-block;
    }
    .fri-form-title {
        margin-bottom: 24px;
    }
    .fri-form-enter{
        margin-bottom: 16px;
    }
    .fri-form-enter p{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .form-control {
        font-size: 12px;
        font-weight: 500;
        padding-left: 12px;
        margin-bottom: 8px;
    }
    .form-control {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
    }
    .fri-form-btn{
        text-align: center;
    }
    .fri-submitemail, .fri-subview {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        border-radius: 8px;
    }
    .fri-submitemail {
        margin-top: 16px;
        width: 245px;
        height: 40px;
    }
    .fri-subview{
        width: 245px;
        height: 40px;
        line-height: 40px;
        background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/viewrewordmob.png?v=1668421657') no-repeat center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        margin: 0 auto;
        margin-top: 12px;
    }
    .fri-subview span{
        font-size: 16px;
        font-weight: bold;
    }
    /* mob */
    .fri-buy-customer{
        width: 100%;
        height: 24px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        background-color: transparent;
    }
    .fri-customer-img{
        width: 28px;
        height: 28px;
        margin-right: 8px;
    }
    .customer_service_right{
        min-width: 172px;
    }
    .customer_service_right, .customer_service_right p{
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #000000;
    }
    .customer_service_right p:nth-child(2n) {
        text-decoration: underline;
    }
    .fri-term{
        width: 100%;
        text-align: left;
        height: 15px;
        line-height: 15px;
    }
    .fri-term span{
        font-weight: 500;
        font-size: 12px;
        margin-left: -14px;
        color: rgba(0, 0, 0, 0.6);
    }
    .fri-buy-bottom{
        height: 48px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(37.5px);
        border-radius: 12px;
        margin-top: 16px;
        overflow: hidden;
    }
    .fri-active-box{
        width: 100%;
        height: 100%;
        padding: 8px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fri-active-left{
        width: 100%;
        color: #000;
    }
    .fri-active-name p{
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }
    .fri-active-desc p {
        font-size: 12px;
        line-height: 16px;
    }
    .fri-buy-active-right{
        height: 32px;
    }
    .fri-buy-active-right p {
        text-align: right;
        color: rgba(0, 0, 0, 0.6);
        font-size: 10px;
        font-weight: normal;
    }
}


.fri-dialog-container{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.fri-dialog-showhide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .fri-share-box {
    padding-top: 32px;
} */

.fb-dialog-desc, .fb-dialog-desc p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}
.fb-share-inputbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fb-share-inputbox input, .fb-share-inputbox .fb-share-copy-button{
    height: 100%;
}
.fb-share-inputbox input{
        border: 1px solid rgba(0, 0, 0, 0.6);
        color: #000;
}


.fb-sharprimary-button button{
    background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF; 
}

.fb-dialog-rul-tip{
    /* margin-left: 16px; */
    text-align: left;
}
.fb-dialog-rul-tip span{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

.fri-model-box{
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 769px){  
    .fri-terms-box{
        width: 80%;
        /* min-height: 80%; */
        padding-bottom: 50px;
        border-radius: 12px;
    }
    .fr-diaolog-close{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: right;
        overflow: hidden;
        cursor: pointer;
    }
    .fr-diaolog-close img{
        width: 30px;
        height: 30px;
        margin-top: 24px;
        margin-right: 24px;
    }
    .fb-dialog-title{
        width: 100%;
        padding: 0px 30px;
    }
    .fb-dialog-title p {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #000;
    }
    .fb-dialog-des{
        margin-top: 16px;
        padding: 0px 30px;
    }
    /* 分享  pc */
    .fri-share-box{
        width: 552px;
        border-radius: 20px;
        min-height: 411px;
        padding-bottom: 20px;
    }
    .fri-share-box  .fr-diaolog-close{
        line-height: 40px;
        height: 60px;
    }
    .fri-share-box  .fr-diaolog-close img{
        width: 30px;
        height: 30px;
        margin-top: 24px;
        margin-right: 24px;
    }
    .fri-share-box .fb-dialog-title{
        margin-bottom: 24px;
    }
    .fri-share-box .fb-dialog-title p{
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }
    .fri-share-box .fb-dialog-desc {
        margin-bottom: 36px;
        padding: 0px 76px;
    }
    .fri-share-box .fb-dialog-desc p{
        font-size: 18px;
        line-height: 26px;
    }
    .fb-dialog-tip {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #000;
    }
    .fb-dialog-rul-tip span{
        font-size: 16px;
        line-height: 20px;
        margin-left: -26px;
    }
    .fb-share-form {
        margin-top: 16px;
        width: 100%;
        padding: 0 50px;
    }
    .fb-share-inputbox{
        width: 452px;
        margin-top: 8px;
        margin-bottom: 24px;
    }
    .fb-share-inputbox input{
        width: 336px;
        font-size: 16px;
        padding: 0px 0px 0px 24px;
    }
    .fb-share-inputbox .fb-share-copy-button {
        min-width: 110px;
        height: 56px;
        line-height: 56px;
    }

    .fb-share-email, .fb-share-textarea{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 15px;
        font-size: 16px;
    }
    .fb-share-email{
        /* margin-top: 16px; */
        margin-bottom: 12px;
        padding:0px 0px 0px 24px;
    }
    .fb-share-email::placeholder{
        font-size: 16px;
    }
    .fb-share-textarea{
        padding: 10px 24px;
        height: 76px;
        overflow-y: auto;
    }
    .fb-share-textarea p {
        line-height: 19px;
        font-size: 16px;
    }
    .fb-sharprimary-button{
       height: 56px;
       width: 452px;
       margin-top: 40px;
       margin-bottom: 32px;
       text-align: center;
    }
    .fb-sharprimary-button button{
        width: 340px;
        font-size: 20px;
    }
    .fb-share-kinds{
        width: 100%;
        margin-bottom: 28px;
        margin-top: 12px;
        text-align: center;
    }
    .fb-share-kinds a{
        width: 42px;
        height: 42px;
        display: inline-block;
    }
    .fb-share-kinds a:first-child{
        margin-left: 0px;
    }
    .fb-share-kinds a{
        margin-left: 32px;
    }
    .fb-share-kinds a img{
        width: 100%;
        height: 100%;
    }
    .fb-share-inputbox input, .fb-share-email, .fb-sharprimary-button button{
        height: 56px;
        line-height: 56px;
        border-radius: 15px;
    }
    .fb-share-textarea{
        border-radius: 15px;
    }
    /* 协议 */
    .fb-terms-width{
        width: 100%;
        padding:  46px 2% 40px 4% ;
        height: 622px;
    }
    .fb-terms-textcontent{
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0px 2% 0px 0px;
    }
    .fb-terms-textcontent p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        /* or 143% */
        color: #000000;
    }

    /* 提款弹窗 */
    .fri-buy-paypal{
        width: 522px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        position: relative;
    }
    .buy_paypal_title{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #000000;
    }
    .buy_paypal_desc{
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        line-height: 26px;
        margin: auto;
        padding-top: 56px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .buy_paypal_code{
       text-align: center;
       margin-top: 36px;
       position: relative;
    }
    .buy_paypal_code input{
        width: 273px;
        height: 64px;
        text-align: left;
        border-radius: 15px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        padding-left: 24px;
    } 
    .buy_paypal_code img{
        width: 133px;
        margin-left: 16px;
    }
    .buy_paypal_code ::-webkit-input-placeholder{
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 24px;
    }
    .buy_paypal_text{
        margin-left: 48px;
        width: 399px;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        line-height: 24px;
        margin-top: 16px;
    }
    .buy_paypal_confirm{
        width: 340px;
        height: 56px;
        margin: auto;
        background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
        border-radius: 15px;
        margin-top: 60px;
        margin-bottom: 60px;
        cursor:pointer;
    }
    .buy_paypal_confirm button{
        font-weight: bold;
        font-size: 20px;
        line-height: 56px;
        display: block;
        margin: auto;
        color: #FFFFFF;
    }
    /* --------------------------- */
    .fb-confirm-email{
        width: 500px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        position: relative;
        text-align: center;
    }
    .fb_confirm_home_title{
        width: 400px;
        margin: auto;
        font-size: 32px;
        font-weight: bold;
        color: #000000;
        line-height: 40px;
    }
    .fb_confirm_home_price{
        width: 100%;
        margin: auto;
        font-size: 64px;
        font-weight: bold;
        color: #000000;
        line-height: 75px;
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fb_confirm_email{
        padding-top: 36px;
        margin: auto;
    }
    .fb_confirm_email input{
        width: 422px;
        height: 64px;
        font-size: 20px;
        text-align: left;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        padding-left: 24px;
    }
    .fb-confirm-email #fb_confirm_paypal_email{
        margin-top: 12px;
    }
    .fb_confirm_email ::-webkit-input-placeholder{
        font-size: 16px;
        font-weight: 500;
        color: rgba(0,0,0,0.6);
        line-height: 19px;
    }
    .fb_confirm_title{
        width: 422px;
        margin: auto;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        line-height: 26px;
        margin-top: 24px;
    }
    .fb_confirm_desc{
        margin: auto;
        width: 422px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: rgba(0,0,0,0.6);
        line-height: 26px;
        margin-top: 16px;
        text-indent: 1em;
    }
    .fb_confirm_confirm{
        width: 340px;
        height: 56px;
        margin: auto;
        background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
        border-radius: 15px 15px 15px 15px;
        opacity: 1;
        margin-top: 48px;
        margin-bottom: 60px;
        cursor:pointer;
    }
    .fb_confirm_confirm button{
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 56px;
        display: block;
        margin: auto;
    }
    /* ------------------------ */
    .fri-paypal-success{
        width: 500px;
        height: 624px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        position: relative;
        text-align: center;
    }
    .paypal_success_title{
        width: 400px;
        margin: auto;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: #000000;
        line-height: 40px;
    }
    .paypal_success_img{
        width: 96px;
        margin: auto;
        margin-top: 72px;
    }
    .paypal_success_img img{
        width: 100%;
    }
    .paypal_success_con{
        width: 452px;
        margin: auto;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        line-height: 26px;
        margin-top: 56px;
    }
    .paypal_success_price{
        color: #8104FE;
    }
    .paypal_success_desc{
        width: 260px;
        margin: auto;
        font-size: 16px;
        font-weight: 500;
        color: #9A9A9A;
        line-height: 24px;
        margin-top: 32px;
    }
    .paypal_success_cash{
        width: 340px;
        height: 56px;
        margin: auto;
        background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
        border-radius: 15px 15px 15px 15px;
        opacity: 1;
        margin-top: 52px;
        cursor:pointer;
    }
    .paypal_success_cash button{
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 56px;
        display: block;
        text-align: center;
        margin: auto;
    }

}
@media only screen and (max-width: 768px){  
    .fri-model-box{
        width: 325px;
        border-radius: 12px;
        min-height: 481px;
        padding-bottom: 12px;
    }
    .fr-diaolog-close{
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: right;
        overflow: hidden;
        cursor: pointer;
    }
    .fr-diaolog-close img{
        width: 15px;
        height: 15px;
        margin-top: 11px;
        margin-right: 11px;
    }
    .fb-dialog-title{
        width: 100%;
        padding: 0px 30px;
    }
    .fb-dialog-title p {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #000;
    }
    .fb-dialog-des{
        margin-top: 16px;
        padding: 0px 30px;
    }
    .fb-terms-width{
        width: 100%;
        padding: 24px 15px 24px 24px;
        height: 488px;
    }
    .fb-share-form {
        margin-top: 24px;
        width: 100%;
        padding: 0 15px;
    }
    .fb-terms-textcontent p {
        padding-right: 9px;
    }
    .fb-share-email, .fb-share-textarea{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 8px;
        font-size: 10px;
    }
    .fb-share-email{
        height: 40px;
        /* margin-top: 8px; */
        margin-bottom: 8px;
        padding: 0px 14px;
    }
    .fb-share-textarea{
        padding: 10px 14px;
        height: 56px;
        overflow-y: auto;
    }
    .fb-share-textarea p {
        font-size: 10px;
        line-height: 14px;
    }
    .fb-sharprimary-button{
       height: 40px;
       width: 100%;
       margin-top: 32px;
       text-align: center;
       margin-bottom: 20px;
    }
    .fb-sharprimary-button button{
        width: 245px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        font-size: 16px;
    }
    /* 分享 mob */
    .fb-dialog-rul-tip span{
        font-size: 12px;
        line-height: 12px;
    }
    .fb-dialog-tip {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -.03em;
        color: #000;
    }
    .fb-share-inputbox{
        height: 40px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .fb-share-inputbox input{
        width: 203px;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        font-size: 10px;
        padding: 0px 0px 0px 14px;
    }
    .fb-share-inputbox .fb-share-copy-button {
        width: 76px;
        height: 40px;
        line-height: 40px;
    }
    .fb-share-kinds{
        width: 100%;
        margin-bottom: 16px;
        margin-top: 8px;
        text-align: center;
    }
    .fb-share-kinds a{
        width: 28px;
        height: 28px;
        display: inline-block;
    }
    .fb-share-kinds a:first-child{
        margin-left: 0px;
    }
    .fb-share-kinds a{
        margin-left: 20px;
    }
    .fb-share-kinds a img{
        width: 100%;
        height: 100%;
    }

        /* 协议 */
    .fb-terms-textcontent{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .fb-terms-textcontent p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        /* or 143% */
        color: #000000;
    }
    /* 提款弹窗 */
    .fri-buy-paypal{
        width: 325px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        position: relative;
    }
    .buy_paypal_title{
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
    .buy_paypal_desc{
        width: 100%;
        height: 36px;
        margin: auto;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        line-height: 18px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
     .buy_paypal_code{
        text-align: center;
        margin-top: 30px;
        position: relative;
     }
     .buy_paypal_code input{
         width: 193px;
         height: 40px;
         padding-left: 12px;
         text-align: left;
         border-radius: 8px;
         font-size: 14px;
         border: 1px solid rgba(0, 0, 0, 0.6);
     } 
     .buy_paypal_code img{
         width: 84px;
         margin-left: 8px;
     }
     .buy_paypal_code ::-webkit-input-placeholder{
         font-weight: 500;
         font-size: 12px;
         line-height: 16px;
         color: rgba(0, 0, 0, 0.6);
         margin-left: 12px;
     }
     .buy_paypal_text{
         font-size: 10px;
         font-weight: 500;
         color: #000000;
         line-height: 12px;
         margin-left: 20px;
         margin-top: 12px;
     }
     .buy_paypal_confirm{
        width: 245px;
         height: 40px;
         margin: auto;
         background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
         border-radius: 10px;
         margin-top: 48px;
         margin-bottom: 32px;
         cursor:pointer;
     }
     .buy_paypal_confirm button{
         font-weight: bold;
         font-size: 16px;
         line-height: 40px;
         display: block;
         margin: auto;
         color: #FFFFFF;
     }

     /* ---------------------------- */
     .fb_confirm_email{
        text-align: center;
        margin-top: 52px;
        position: relative;
    }
    .fb_confirm_home_title{
        width: 209px;
        margin: auto;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        line-height: 28px;
        margin-top: 3px;
    }
    .fb_confirm_home_price{
        width: 100%;
        margin: auto;
        font-size: 48px;
        font-weight: bold;
        color: #000000;
        line-height: 56px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fb_confirm_email{
        padding-top: 20px;
        margin: auto;
    }
    .fb_confirm_email input{
        width: 265px;
        height: 40px;
        font-size: 14px;
        text-align: left;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        padding-left: 12px;
    }
    .fb-confirm-email #fb_confirm_paypal_email{
        margin-top: 8px;
    }
    .fb_confirm_email ::-webkit-input-placeholder{
        font-size: 12px;
        font-weight: 500;
        color: rgba(0,0,0,0.6);
        line-height: 18px;
    }
    .fb_confirm_title{
        width: 265px;
        margin: auto;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        line-height: 18px;
        margin-top: 24px;
    }
    .fb_confirm_desc{
        width: 260px;
        margin: auto;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: rgba(0,0,0,0.6);
        line-height: 18px;
        margin-top: 12px;
    }
    .fb_confirm_confirm{
        width: 245px;
        height: 40px;
        margin: auto;
        background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
        border-radius: 10px 10px 10px 10px;
        opacity: 1;
        cursor:pointer;
    }
    .fb_confirm_confirm button{
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 40px;
        display: block;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .fri-share-box .fb-dialog-desc{
        padding: 0px 30px;
        margin-top: 16px;
    }
    .fb-share-form .fb-dialog-tip p {
        font-weight: 500;
        font-family: "Montserrat-Medium, Montserrat";
    }
    /* ---------------------------- */
    .paypal_success_title{
        width: 90px;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        line-height: 28px;
    }
    .paypal_success_img{
        width: 64px;
        margin: auto;
        margin-top: 48px;
    }
    .paypal_success_img img{
        width: 100%;
    }
    .paypal_success_con{
        width: 295px;
        margin: auto;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #000000;
        line-height: 18px;
        margin-top: 32px;
    }
    .paypal_success_price{
        color: #8104FE;
    }
    .paypal_success_desc{
        width: 176px;
        margin: auto;
        font-size: 12px;
        font-weight: 500;
        color: #9A9A9A;
        line-height: 18px;
        margin-top: 16px;
    }
    .paypal_success_cash{
        width: 245px;
        height: 40px;
        margin: auto;
        background: linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);
        border-radius: 10px 10px 10px 10px;
        opacity: 1;
        margin-top: 47px;
        cursor:pointer;
    }
    .paypal_success_cash button{
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: auto;
    }

}
.fri-share-discount,.fri-terms-dialog,.fri-paypal-dialog{
    display: none;
}
@media only screen and (min-width: 769px) and (max-width: 1500px){
    .fri-share-box .fb-dialog-title{
        margin-bottom: 14px;
    }
    .fb-dialog-title .fb-dialog-title p{
        font-size: 22px;
        line-height: 29px;
    }
    .fri-share-box .fb-dialog-desc{
        padding: 0px 50px;
    }
    .fri-share-box .fb-dialog-desc p{
        font-size: 16px;
        line-height: 24px;
    }
    .fri-share-box .fb-dialog-desc{
        margin-bottom: 14px;
    }
    .fb-dialog-tip{
        font-size: 14px;
        line-height: 18px;
    }
    .fb-share-inputbox input{
        width: 100%;
    }
    .fb-share-inputbox input, .fb-share-email, .fb-sharprimary-button button{
        height: 46px;
        line-height: 46px;
        border-radius: 10px;
    }
    .fb-share-inputbox .fb-share-copy-button {
        min-width: 100px;
        height: 46px;
        line-height: 46px;
        background-position: center right!important;
    }

    .fb-share-textarea{
        border-radius: 10px;
    }
    .fb-share-inputbox input{
        padding: 0px 0px 0px 24px
    }
    .fb-sharprimary-button button, .fb-share-inputbox .fb-share-copy-button{
        font-size: 16px;
    }
    .fb-sharprimary-button{
        height: 46px;
        margin-top: 20px;
        margin-bottom: 13px;
    }
    .fb-share-kinds{
        margin-bottom: 18px;
    }
    .fb-share-kinds a{
        width: 36px;
        height: 36px;
    }
    .fb-share-email{
        margin-top: 4px;
    }
    .fb-share-inputbox{
        margin-bottom: 16px;
    }
    .fb-dialog-rul-tip{
        margin-left: 0px;
    }
    .fb-dialog-rul-tip span{
        margin-left: -26px;
    }
    .fb-share-email, .fb-share-inputbox input, .fb-share-textarea p{
        font-size: 14px;
    }
}
.fb-share-inputbox .fb-share-copy-button{
    background-image: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/COPY_2x_78bf141c-dce9-4d11-a62c-3e39af31e725.png?v=1667788736');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    cursor: pointer;
}
.buy_paypal_desc  p {
    font-weight: 600;
}
