/* mobile端 */
@media only screen and (max-width: 768px){
    .introduceBikesWrapper{
        padding-top: 33px!important;
        padding-bottom: 0!important;
    }
    .intoduce-bikes-products-pc{
        margin-bottom: 36px!important;
    }
    .fb-PR-swiper .activity{
        padding: 60px 0 0!important;
    }
    .fb_xc_klarna_con{
        padding: 40px 0!important;
    }
    .fb-klarna-placement{
        padding-top: 60px!important;
    }
    .fb-single_products_pc{
        padding: 15px 0px 60px 0px!important;
    }
    .fb-compare-table-container{
        padding-top: 60px!important;
        padding-bottom: 49px!important;
    }
    .varietyContainer{
        padding: 20px 0 20px!important;
    }
    .fb-gifroll-section{
        padding:25px 0px 50px 0px!important;
    }
    .online-reviewers{
        padding-top: 60px!important;
        padding-bottom: 88px!important;
    }
    .online-reviewers .swiper-pagination{
        bottom: 50px!important;
    }
    .home-social-content{
        padding-top: 25px!important;
    }
    .shopify-section--bordered > .Section--spacingNormal{
        padding-top: 20px!important;
        padding-bottom: 40px!important;
    }
    .ArticleList .Grid__Cell{
        margin-bottom: 40px!important;
    }
    .fb-stage-desc{
        padding-top: 50px!important;
        padding-bottom: 40px!important;
    }
    .fb-PR-swiper .litBikePR{
        height: 220px!important;
    }
}
/* pc端 */
@media only screen and (min-width: 769px){
    .introduceBikesWrapper{
        padding-top: 120px!important;
        padding-bottom: 120px!important;
    }
    .fb-klarna-placement{
        padding-top: 80px!important;
    }
    .fb-compare-table-container{
        padding-top: 120px!important;
        padding-bottom: 160px!important;
    }
    .varietyContainer{
        padding:0 0 40px!important;
    }
    .online-reviewers{
        padding-top: 60px!important;
    }
    .fb-activeroll-section{
        padding-bottom: 160px!important;
    }
    .shopify-section--bordered > .Section--spacingNormal{
        padding: 0!important;
    }
    .fb-add-hotline{
        padding: 160px 0!important;
    }
    .fb-stage-desc{
        padding-top: 0!important;
        padding-bottom: 80px!important;
    }
    .fb-single_products_pc{
        padding-bottom: 80px!important;
    }
    .fb-PR-swiper{
        padding-top: 40px!important;
        padding-bottom: 40px!important;
    }
}

@media screen and (max-width: 1023px) and (min-width: 607px){
    .intoduce-bikes-products-pc{
        padding: 53px 20% 75px!important;
    }
}