    .fb_newPages_PR_swiper {
        padding-left: 100px;
    }

    .addWrapper {
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }

    .newPages_PRswiper .swiper-wrapper {
        height: 260px;
    }

    .newPages_PRswiper .swiper-slide {
/*         border-left: 1px solid #EAEAEA; */
        display: flex;
        align-items: center;
    }

    .newPages_imgWrapper {
        position: relative;
        min-height: 67.5px;
        width: auto;
        min-width: 140px;
        max-width: 140px;
    }

    .newPages_imgWrapper .swiperImg {
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .newPages_PRswiper_text {
        padding: 23px 0px 0px;
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
    }

    .fb_newPages_PR_swiper .swiper-horizontal>.swiper-scrollbar {
        background: #EEEEEE;
        height: 0px;
        width: 100%;
        left: 0;
        bottom:0
    }

    .fb_newPages_PR_swiper .swiper-scrollbar-drag {
        background: #D4D4D4;
    }

    @media(max-width: 1550px)and (min-width:1025px) {
        .fb_newPages_PR_swiper {
            padding-left: 81px;
        }

        .addWrapper {
            max-width: 320px;
        }

        .newPages_PRswiper .swiper-wrapper {
            height: 230px;
        }

        .newPages_PRswiper_text {
            font-size: 15px;
            line-height: 18px;
        }
    }

    @media(max-width: 1024px)and (min-width:769px) {
        .fb_newPages_PR_swiper {
            padding-left: 53px;
        }

        .addWrapper {
            max-width: 200px;
        }

        .newPages_PRswiper .swiper-wrapper {
            height: 160px;
        }

        .newPages_imgWrapper {
            min-height: 50px;
            min-width: 100px;
            max-width: 110px;

        }

        .newPages_PRswiper_text {
            font-size: 12px;
            line-height: 14px;
        }
    }

    @media screen and (max-width: 768px) {
        .fb_newPages_PR_swiper {
            width: 100%;
            padding-left: 0;
            border-bottom: none;
        }

        .newPages_PRswiper .swiper-wrapper {
            height: 220px;
        }

        .newPages_PRswiper .swiper-slide {
            border-left: none;
            width: 100% !important;
        }

        .newPages_PRswiper {
            position: relative;
        }

        .newPages_imgWrapper {
            position: relative;
            max-width: 140px;
            min-height: 70px;
            margin: 17px auto 0;
        }

        .newPages_imgWrapper .swiperImg {
            display: block;
            width: 100%;
        }

        .newPages_PRswiper_text {
            padding: 23px 15px 42px;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }
    }
