@font-face{
  font-family:DINCond-Bold-Regular;
  src: url('https://freebeat-shopify.s3.us-east-2.amazonaws.com/DINCond-Bold.otf');
}
@font-face{
  font-family:DINCond-Black;
  src: url('https://static.freebeatfit.com/shopify/font/DINCond-Black.otf');
}
@font-face{
  font-family:DINCond-Bold;
  src: url('https://freebeat-shopify.s3.us-east-2.amazonaws.com/DINCond-Bold.otf');
}
@font-face{
  font-family:DINCond-Light;
  src: url('https://static.freebeatfit.com/shopify/font/DINCond-Light.otf');
}
@font-face{
  font-family:DINCond-Medium;
  src: url('https://static.freebeatfit.com/shopify/font/DINCond-Medium.otf');
}
@font-face{
  font-family:DINCond-Regular;
  src: url('https://static.freebeatfit.com/shopify/font/DINCond-Regular.otf');
}
.public-product-soldout{
    background: #cccccc!important;
    color: #fff!important;
    cursor: not-allowed!important;
    
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ebike-Midnight-Black{
    border: 1px solid #000000;
    background-color: #000;
}
.ebike-Sage-Green{
    background-color: #8a9b8e;
    border: 1px solid #8a9b8e;
}
.ebike-Sahara-Sand{
    background-color: #dbd5cd;
    border: 1px solid #dbd5cd;
}
.bike-Moonbow-Beige-color{
    background-color: #ECD0B5;
    border: 1px solid #ECD0B5;
}
.bike-Snowpeak-White-color{
    border: 1px solid #000000;
    background-color: #fff; 
}
.bike-Space-Black-color{
    border: 1px solid #000000;
    background-color: #000;
}
.bike-Aurora-Pink-color{
    border: 1px solid #E37D97;
    background-color: #E37D97;
}
.bike-Arctic-White-color{
    border: 1px solid #000000;
    background-color: #fff; 
}
.bike-Mist-Grey-color{
    border: 1px solid #797D81;
    background-color: #797D81;
}
.bike-Tuscany-Yellow-color{
    border: 1px solid #FAF297;
    background-color: #FAF297;
}
/* top banner */
.fb_pages_top_bike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.fb_pages_top_bike_l {
  display: flex;
  flex-direction: column;
}
.fb_pages_top_bike_l .fb_ptb_name {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  line-height: 22px;
}
.fb_pages_left_one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fb-progress-barcontent {
  width: 360px;
  padding-right: 2px;
  height: 7px;
  margin-top: 10px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.fb_progress-line {
  width: 120%;
  height: 100%;
  background-color: #b3b3b3;
  position: absolute;
  right: -4px;
  top: 0;
}
.fb_progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.fb_ptb_name {
  padding-right: 10px;
}
.fb_sun_color2,
.fb_sun_color {
  border-left: 1px solid #fff;
  padding-left: 10px;
  font-weight: 500;
}
/* .fb_sun_color2 {
    display: none;
}
.fb_sun_color{
    display: inline-block;
} */
.fb_sun_color2 {
  font-size: 16px;
}
.fb_pages_top_bike_r {
  display: flex;
  justify-content: center;
}
.fb_pages_top_bike_r_con {
  margin-right: 30px;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 22px;
}
.fb_pages_top_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* product meta */
.product-meta-market {
  margin-top: 16px;
  padding-bottom: 10px;
}
.product-meta-market-text {
  font-size: 16px;
  font-weight: 500;
  color: rgba(136, 136, 136, 0.8);
  line-height: 19px;
  text-align: left;
}
.product-meta-barcontent {
  width: 284px;
  height: 10px;
  overflow: hidden;
  margin-top: 4px;
  border-radius: 20px;
  position: relative;
  padding-right: 4px;
}

.product-meta-progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.product-meta-progress-line {
  background-color: #e9e9e9;
  height: 100%;
  width: 120%;
  position: absolute;
  top: 0;
  right: -4px;
  z-index: 2;
}
.fb_progress-bar,
.product-meta-progress-bar {
  background: linear-gradient(90deg, #fce12d 0%, #fe23e3 100%);
}
.fb_top_market {
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .product-meta-market {
    margin-top: 16px;
    padding-bottom: 2px;
  }
  .product-meta-market-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
  .product-meta-barcontent {
    width: 209px;
    height: 8px;
    margin-top: 4px;
    border-radius: 50px;
    padding-right: 4px;
  }
  .product-meta-progress-bar {
    border-radius: 50px;
  }
}
.litbike-color-imghide {
  display: none;
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  /* .fb_pages_top_center{
        flex-direction: column-reverse;
    } */
  /* .fb_progress-bar{
        width: 240px;
        height: 8px;
        border-radius: 15px 15px 15px 15px;
    }
    .fb_progress-line{
        width: 100%;
        border-radius: 15px 15px 15px 15px;
    } */
  .fb_top_market {
    font-size: 18px;
    margin-left: 6px;
  }
  .fb_pages_top_bike_l .fb_ptb_name {
    font-size: 22px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .fb_pages_top_bike_r_con {
    display: none;
  }
  .fb_pages_top_bike {
    padding: 14px;
  }
  .fb_pages_top_bike_l .fb_ptb_name {
    font-size: 16px;
    line-height: 20px;
  }
  .fb_pages_top_bike_r {
    align-items: center;
  }
  .fb_pages_top_bike_r_con {
    display: none;
    margin-right: 10px;
    font-size: 16px;
  }
  .fb_pages_top_bike_l > span {
    padding-left: 6px;
  }
  .fb_sun_color2 {
    font-weight: 600;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  /* .fb_pages_top_center{
        display: none;
    } */
  .fb_pages_top_bike_l .fb_ptb_name {
    font-size: 14px;
    line-height: 18px;
  }
  .fb_pages_top_bike_r {
    align-items: center;
  }
  .fb_pages_top_bike_r_con {
    display: none;
    margin-right: 10px;
    font-size: 12px;
  }
  /* .fb_sun_color{
        display: none;
    } */
  .fb_sun_color,
  .fb_sun_color2 {
    padding-left: 10px;
  }
  .fb_sun_color2 {
    width: 146px;
    display: inline-block;
    padding-right: 2px;
    font-size: 12px;
    line-height: 14px;
  }
  /* .fb_sun_color2 {
        display: inline-block;
    } */
  .fb_pages_left_one {
    flex: 1;
  }
  .fb-progress-barcontent {
    width: 100%;
    height: 6px;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 768px) {
  .fb-product-detailnav ul {
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    height: 64px;
  }
  .fb-product-detailnav ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 64px;
    color: #a2a2a2;
    width: 125px;
    height: 64px;
    text-align: center;
  }
  .fb-product-detailnav ul li span {
    display: inline-block;
  }
  .fb-product-detailnav ul li.active {
    border-bottom: 2px solid #02c0d9;
    color: #02c0d9;
    font-weight: bold;
  }
}
.fb-litbike-colorgroup {
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: flex-start;
}
.fb-litbike-colorgroup .litbike-color-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-color-options {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
  .fb-litbike-colorgroup .litbike-color-default {
    width: 16px;
    height: 16px;
    border-radius: 16px;
  }
  .fb-litbike-colorgroup .litbike-color-active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .fb-litbike-colorgroup .litbike-color-block {
    height: 30px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .fb-litbike-colorgroup .litbike-color-block:first-child {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 769px) {
  .fb-litbike-top-color {
    height: 34px;
  }
  .fb-litbike-colorgroup .litbike-color-default {
    width: 20px;
    height: 20px;
    border-radius: 21px;
  }
  .fb-litbike-colorgroup .litbike-color-active {
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }
  .fb-litbike-colorgroup .litbike-color-block {
    height: 34px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .fb-litbike-colorgroup .litbike-color-block:first-child {
    margin-left: 0px;
  }
}
.fb-litbike-colorgroup:first-child img {
  margin-left: 0px !important;
}
/* 弹窗whatsapp */

.fb-success-box p {
  margin: 0;
  padding: 0;
}
.fb-success-tit p {
  text-align: center;
  font-weight: 600;
  color: #1c1b1b;
  letter-spacing: 1px;
}
.fb-success-desc p {
  text-align: center;
  font-weight: 500;
  color: #666666;
}
.fb-success-sayhi {
  display: flex;
  align-items: center;
}
.fb-success-sayhi p {
  font-weight: 400;
  color: #1c1b1b;
}
/* pc */
@media screen and (min-width: 650px) {
  .fb-success-code-mob {
    display: none;
  }
  .form-subscrip-box .fb-icon-freebeat-succ {
    width: 130px;
    height: 40px;
    display: block;
    margin: 20px auto 42px auto;
  }
  .fb-success-box {
    width: 340px;
    margin-left: -22px;
  }
  .fb-success-tit p {
    font-size: 24px;
    line-height: 24px;
  }
  .fb-success-desc {
    margin-top: 12px;
  }
  .fb-success-desc p {
    font-size: 16px;
    line-height: 20px;
  }
  .fb-success-code-pc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
  }
  .succ-code-box {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    min-height: 120px;
  }
  .succ-code-box img {
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 8px;
    margin-left: 0px;
  }
  .succ-code-box p {
    font-size: 14px;
    font-weight: 500;
    color: #1c1b1b;
    line-height: 16px;
  }
  .fb-success-sayhi {
    margin-top: 36px;
    justify-content: center;
  }
  .fb-sucircl {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #444;
    border-radius: 6px;
    margin-right: 15px;
  }
  .fb-success-sayhi p {
    font-size: 14px;
    line-height: 14px;
  }
}
@media screen and (min-width: 650px) and (max-width: 800px) {
  .fb-success-box {
    width: 100%;
    margin-left: 0px;
  }
}
/* mobile */
@media screen and (max-width: 650px) {
  .fb-success-code-pc {
    display: none;
  }

  .fb-success-tit p {
    font-size: 20px;
    line-height: 20px;
  }
  .fb-success-desc p {
    text-align: center;
  }
  .fb-success-desc {
    margin-top: 10px;
  }
  .fb-success-desc p {
    font-size: 12px;
    line-height: 15px;
  }

  .fb-success-code-mob {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 6px;
  }
  .succ-code-box {
    width: 211px;
    height: 46px;
    background: #ffffff;
    border-radius: 23px;
    border: 1px solid #1c1b1b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 16px;
    margin-top: 10px;
  }
  .succ-code-box img {
    width: 30px !important;
    height: 30px !important;
    margin-right: 12px;
  }
  .succ-code-box p {
    font-size: 14px;
    line-height: 14px;
  }
  .fb-sucircl {
    display: none;
  }
  .fb-success-sayhi {
    margin-top: 6px;
    justify-content: center;
  }
  .fb-success-sayhi p {
    font-size: 12px;
    line-height: 14px;
  }
}
.deliverContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0 8px;
}

.hoverIconMb {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  cursor: pointer;
}

#delivers {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 16px;
  padding: 0;
}

.hoverBox {
  display: none;
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 191px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  opacity: 1;
  z-index: 2;
}

.hoverText {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
  line-height: 12px;
  padding: 5px 10px 5px;
  text-align: left;
}

@media only screen and (min-width: 641px) {
  .hoverIconMb {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .deliverContainer {
    padding: 0px 0 14px;
    font-size: 15px;
    line-height: 18px;
  }

  .hoverBox {
    display: none;
    left: 0;
    right: 80px;
    top: 30px;
    width: 270px;
    z-index: 99;
  }

  .hoverText {
    font-size: 17px;
    line-height: 20px;
    padding: 5px 15px;
  }
}
.js-keep-biketype{
    cursor: pointer;
}

@media screen and (min-width: 1008px) {
    .fb-change-location-default .SelectButton, .fb-change-location-default .Popover__Value{
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #121212;
    }
    .fb-change-location-default .SelectButton {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fb-change-location-default .fccd-img1 {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    .fb-change-location-default .fccd-img2 {
        width: 22px;
        height: 22px;
        margin-left: 9px;
    }
    .fb-change-location-default .Popover__Content {
        width: 306px;
        height: auto;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 0px 12px 12px 12px;
    }
    .fb-change-location-default .Popover {
        border-radius: 12px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    .fb-change-location-default .Popover__ValueList {
        padding: 0px;
    }
    .fb-change-location-default .fccd-header{
        padding-top: 16px;
        padding-bottom: 12px;
        border-bottom: 1px solid #E6E6E6;
    }
    .fb-change-location-default .fccd-header span{
        font-weight: 700;
        font-size: 12px;
    }

    .fccd-button{
        width: 100%;
        height: 48px; 
        line-height: 48px;
        background: #FFFFFF;
        border-radius: 8px;
        margin-top: 12px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 12px;
        position: relative;
    }
    .fb-change-location-default .Popover--small .Popover__Value {
        padding: 0px 12px!important;
    }
    .fccd-btn-check{
        display: none;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: auto;
    }
    .fccd-button.is-selected{
        border: 1px solid #121212;
    }
    .fccd-button.is-selected .fccd-btn-check{
        display: inline-block;
    }
}

@media screen and (max-width: 1007px) {
    .fb-change-location-default .SelectButton, .fb-change-location-default .Popover__Value{
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #121212;
    }
    .fb-change-location-default .SelectButton {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fb-change-location-default .fccd-img1 {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    .fb-change-location-default .fccd-img2 {
        width: 18px;
        height: 18px;
        margin-left: 8px;
    }
    .fb-change-location-default .Popover__Content {
        background: #FFFFFF;
        border-radius: 12px;
        padding: 0px 12px 20px 12px;
    }
    .fb-change-location-default .Popover__ValueList {
        padding: 0px;
    }
    .fb-change-location-default .fccd-header{
       display: none;
    }
    .fb-change-location-default .Popover__Title{
        font-weight: 700;
        font-size: 12px;
        color: #121212;
    }
    .fb-change-location-default .Icon--close{
        width: 10px;
        height: auto;
        margin-top: 3px;
    }
    .fccd-button{
        width: 100%;
        height: 48px; 
        line-height: 48px;
        background: #FFFFFF;
        border-radius: 8px;
        margin-top: 12px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 12px;
        position: relative;
    }
    .fb-change-location-default .Popover--small .Popover__Value {
        padding: 0px 12px!important;
    }
    .fccd-btn-check{
        display: none;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: auto;
    }
    .fccd-button.is-selected{
        border: 1px solid #121212;
    }
    .fccd-button.is-selected .fccd-btn-check{
        display: inline-block;
    }
}
/* offer */
.annou-button-offer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.annou-button-text{
  font-weight: bold;
  color: #A1F200;
  text-decoration: underline;
}
@media only screen and (min-width: 1024px){ 
  .annou-button-offer{
      font-size: 18px;
      margin-left: 24px;
      min-width: 154px;
  }
  .annou-button-offer-position{
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: 255px;
      transform: translateY(-50%);
      z-index: 2;
  }
  .annou-button-offer .js-view-annou-number{
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      background: #A1F200;
      border-radius: 16px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: #000000;
      margin-left: 6px;
  }

}
@media only screen and (max-width: 1023px){ 
  .annou-button-offer{
      font-size: 10px;
      line-height: 14px;
      min-width: 88px;
  }
  .annou-button-offer .js-view-annou-number{
      display: inline-block;
      width: 10px;
      height: 10px;
      line-height: 10px;
      background: #A1F200;
      border-radius: 10px;
      text-align: center;
      font-size: 8px;
      font-weight: bold;
      color: #000000;
      margin-left: 4px;
  }
  .annou-button-offer-position{
      position: absolute;
      width: 104px;
      right: 7px;
      z-index: 2;
      height: 28px;
      top: 50%;
      transform: translateY(-50%);
  }
}


/* 通知 */
#sidebar-annoucement-offer p {
  margin: 0;
  padding: 0;
}
/* .annoucement-offer-modelshow {
  width: 100%;
  height: 100%;
} */
.annoucement-offer-content{
  width: 100%;
  height: 100%;
  position: relative;
}
.annoucement-offer-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.annoucement-offer-close svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.annou-left-center{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.annoucement-offer-modelshow::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.Drawer__Content__fb {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media only screen and (min-width: 769px) {
  .annoucement-offer-container{
      width: 328px!important;
  }
  .annoucement-offer-close {
      width: 20px;
      height: 20px;
  }
  .annoucement-offer-header{
      height: 64px;
      padding: 0px 24px;
      border-bottom: 1px solid #E6E6E6;;
  }
  .Drawer__Content__fb {
      height: calc(100% - 64px);
      max-height: calc(100% - 64px);
  }
  /* .annoucement-offer-modelshow{
      padding-bottom: 64px;
  } */
  .annoucement-offer-title{
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      color: #121212;
  }
  .annou-box-ul{
      width: 100%;
      padding: 0px 24px 48px 24px;
  }
  .annou-box-li{
      width: 280px;
      height: 258px;
      position: relative;
      display: block;
      border-radius: 12px;
      background-color: #a2a2a2;
      margin-top: 24px;
  }
  .annou-box-img, .annou-box-text{
      border-radius: 12px;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
  }
  .annou-box-img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .annou-box-text{
      padding: 20px;
  }
  .an-box-title p{
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
  }
  .annou-left-center .an-box-title em{
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
  }
  .an-box-desc{
      margin-top: 12px;
  }
  .an-box-desc p {
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
  }
  .annou-left-center .an-box-des{
      margin-top: 8px;
  }
  .annou-left-center .an-box-desc p {
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
  }
  .an-box-additional ul{
      padding-top: 2px;
  }
  .an-box-additional ul li{
      /* list-style: disc; */
      font-size: 10px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 10px;
      position: relative;
      padding-left: 7px;
      margin-top: 6px;
  }
  .an-box-additional ul li::before{
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: #FFFFFF;
      position: absolute;
      left: 0px;
      top: 3px;
  }
  .an-box-additional ul li::marker{
    position: absolute;
    left: 0; 
    top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .annoucement-offer-container{
      width: 268px!important;
  }
  .annoucement-offer-close {
      width: 16px;
      height: 16px;
  }
  .annoucement-offer-header{
      height: 44px;
      padding: 0px 16px;
      border-bottom: 1px solid #E6E6E6;;
  }
  .Drawer__Content__fb {
      height: calc(100% - 44px);
      max-height: calc(100% - 44px);
  }
  .annoucement-offer-title{
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      color: #121212;
  }
  .annou-box-ul{
      width: 100%;
      padding: 0px 16px 33px 16px;
  }
  .annou-box-li{
      width: 236px;
      height: 198px;
      position: relative;
      display: block;
      border-radius: 8px;
      background-color: #a2a2a2;
      margin-top: 16px;
  }
  .annou-box-img, .annou-box-text{
      border-radius: 8px;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
  }
  .annou-box-img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .annou-box-text{
      padding: 16px;
  }
  .an-box-title p{
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
  }
  .annou-left-center .an-box-title em{
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
  }
  .an-box-desc{
      margin-top: 8px;
  }
  .an-box-desc p {
      font-size: 8px;
      font-weight: bold;
      line-height: 10px;
  }
  /* .annou-left-center .an-box-des{
      margin-top: 8px;
  } */
  .annou-left-center .an-box-desc p {
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
  }
  .an-box-additional ul{
      padding-top: 2px;
  }
  .an-box-additional ul li{
      /* list-style: disc; */
      font-size: 8px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 8px;
      position: relative;
      padding-left: 6px;
      margin-top: 4px;
  }
  .an-box-additional ul li::before{
      content: "";
      width: 2px;
      height: 2px;
      border-radius: 2px;
      background: #FFFFFF;
      position: absolute;
      left: 0px;
      top: 4px;
  }
  .an-box-additional ul li::marker{
    position: absolute;
    left: 0; 
    top: 0;
  }
}

