/* pc端 */
@media screen and (min-width: 769px){
    .user-manual-bigtitle{
        font-size: 48px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #1C1B1B;
        line-height: 48px;
        padding-top: 60px;
        padding-bottom: 30px;
        text-align: center;
    }
    .user-manual-bigdesc{
        font-size: 16px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #1C1B1B;
        line-height: 19px;
        text-align: center;
    }
    .user-manual-con{
        max-width: 1280px;
        padding-top: 20px;
        padding-bottom: 150px;
        margin: auto;
    }
    .user-manual-item{
        padding-top: 100px;
        display: flex;
    }
    .user-manual-item:nth-of-type(2){
        flex-direction: row-reverse;
    }
    .user-manual-item:nth-of-type(2) .user-manual-right{
        padding-left: 0;
        padding-right: 92px;
    }
    .user-manual-img{
        width: 47%;
        height: auto;
    }
    .user-manual-right{
        width: 47%;
        padding-left: 9.375%;
        display: flex;
        flex-direction: column;
    }
    .user-manual-item:nth-of-type(1) .user-manual-right{
        padding-top: 98px;
        padding-bottom: 131px;
    }
    .user-manual-item:nth-of-type(2) .user-manual-right{
        padding-top: 118px;
        padding-bottom: 171px;
    }
    .user-manual-item:nth-of-type(3) .user-manual-right{
        padding-top: 138px;
        padding-bottom: 187px;
    }
    .user-manual-sign{
        font-size: 120px;
        font-family: DINCond-Bold, DINCond;
        font-weight: bold;
        color: #02C0D9;
        line-height: 120px;
        opacity: 0.15;
        margin-left: -28px;
        margin-bottom: -41px;
    }
    .user-manual-title{
        font-size: 48px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #1C1B1B;
        line-height: 48px;
        padding-bottom: 24px;
    }
    .user-manual-desc{
        font-family: Montserrat-Regular, Montserrat;
        font-size: 16px;
        font-weight: 400;
        color: #1C1B1B;
        line-height: 24px;
        padding-bottom: 60px;
    }
    .user-manual-link{
        display: block;
    }
    .user-manual-link-title{
        font-size: 16px;
        font-family: Montserrat-Medium, Montserrat;
        font-weight: 500;
        color: #02C0D9;
        line-height: 16px;
        padding-bottom: 20px;
    }
}
/* mob端 */
@media screen and (max-width: 768px){
    .user-manual-bigtitle{
        font-size: 24px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #1C1B1B;
        line-height: 24px;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 11px;
    }
    .user-manual-bigdesc{
        font-size: 12px;
        font-family: Montserrat-Medium, Montserrat;
        font-weight: 500;
        color: #1C1B1B;
        line-height: 18px;
        text-align: center;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .user-manual-con{
        padding-bottom: 80px;
    }
    .user-manual-img{
        width: 100%;
        height: auto;
    }
    .user-manual-item:nth-of-type(2) .user-manual-img{
        padding-top: 46px;
    }
    .user-manual-item:nth-of-type(3) .user-manual-img{
        padding-top: 46px;
    }
    .user-manual-right{
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
    }
    .user-manual-sign{
        font-size: 60px;
        font-weight: bold;
        font-family: DINCond-Bold, DINCond;
        color: #02C0D9;
        line-height: 60px;
        opacity: 0.15;
        margin-bottom: -22px;
    }
    .user-manual-title{
        font-size: 24px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #1C1B1B;
        line-height: 24px;
        padding-bottom: 16px;
    }
    .user-manual-desc{
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #1C1B1B;
        line-height: 18px;
        padding-bottom: 30px;
    }
    .user-manual-link{
        display: block;
    }
    .user-manual-link-title{
        font-size: 14px;
        font-family: Montserrat-Medium, Montserrat;
        font-weight: 500;
        color: #02C0D9;
        line-height: 14px;
        padding-bottom: 14px;
    }
}