.fb_vote_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .fb_vote_swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    position: relative;
    /*       height: 860px; */
    margin: 35px 60px 100px 60px;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    } /*初始状态 透明度为0*/
    40% {
      opacity: 0.5;
    } /*过渡状态 透明度为0*/
    100% {
      opacity: 1;
    } /*结束状态 透明度为1*/
  }
  @-webkit-keyframes fade-in {
    /*针对webkit内核*/
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .fb_vote_swiper .teemo-use-loading {
    max-width: 300px;
    max-height: 300px;
    min-width: 220px;
    min-height: 220px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    animation: fade-in; /*动画名称*/
    animation-duration: 1.2s; /*动画持续时间*/
    -webkit-animation: fade-in 1.2s; /*针对webkit内核*/
  }
  img[src=''],
  img:not([src]) {
    opacity: 0;
  }
  .fb_vote_swiper .vote_pic {
    display: block;
    height: fit-content;
  }
  .fb_vote_swiper .vote_picM,
  .fb_vote_titleM,
  .fb_vote_textM {
    display: none;
  }
  .fb_vote_content {
    display: flex;
    flex-direction: column;
    margin: 60px 100px 226px 0px;
    flex: 1;
  }
  .fb_vote_title {
    font-size: 28px;
    font-weight: 800;
    color: #333333;
    line-height: 58px;
  }
  .fb_vote_text {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
  }
  .color_des {
    font-size: 30px;
    font-weight: 800;
    color: #333333;
    line-height: 37px;
    letter-spacing: 1px;
    padding: 32px 0 35px;
  }
  .changeColor {
    padding-bottom: 30px;
  }
  .changeColor .options {
    display: flex;
    padding: 0 0 20px;
  }
  .changeColor .options li {
    padding-left: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #c3c3c3;
    line-height: 22px;
    cursor: pointer;
  }
  .changeColor .options .allColor {
    padding-left: 0px;
  }
  .options li.active {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    line-height: 27px;
  }
  .allColor,
  .fb_vote_title,
  .fb_vote_text {
    display: block;
  }
  .card li {
    display: none;
  }
  .card li.active {
    display: block;
  }
  .card_color_all {
    display: flex;
    /*       justify-content: space-evenly; */
  }
  .card_color_all span {
    cursor: pointer;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .card_frame {
    box-sizing: border-box;
    padding-top: 4px;
    margin-right: 18px;
    margin-bottom: 18px;
    width: 58px;
    height: 58px;
  }
  .card_border {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 3px;
  }

/* 选中边框 */
#SMOKE_WHITE {
    background: #dddddd;
  }
  #AQUA_BLUE {
    background: #7dd3c6;
  }
  #DISCO_BRONZE {
    background: #d5b6a4;
  }
  #CAUTION_MATTE {
    background: #d7b665;
  }
  #TECHNO_GREY {
    background: linear-gradient(138deg, #d5d5d5 0%, #868787 100%);
  }
  #MIDNIGHT_ABYSS {
    background: linear-gradient(138deg, #d5d5d5 0%, #7d8e8d 100%);
  }
  #SCORCH_RED {
    background: linear-gradient(138deg, #d5d5d5 0%, #9d323e 100%);
  }
  #BLUE_STING {
    background: linear-gradient(138deg, #d5d5d5 0%, #4e6bb1 100%);
  }
  #RAZZLE_CHROME {
    background: linear-gradient(
      129deg,
      #ae1a9b 0%,
      #d54573 14%,
      #fb6c87 34%,
      #d91f83 64%,
      #f96a86 89%,
      #ce4196 100%
    );
  }
  #PURPLE_PRINCE {
    background: linear-gradient(
      126deg,
      #3e2679 0%,
      #c183c7 38%,
      #723da9 70%,
      #2f3187 100%
    );
  }
  .color_active {
    border: 1px solid #000;
    border-radius: 50%;
  }
  .button {
    box-sizing: border-box;
    /* display: block; */
    width: 280px;
    height: 50px;
  }
  .addToWish {
    width: 280px;
    height: 50px;
    border: none;
    background: #000000;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 19px;
    letter-spacing: 1px;
  }
  .popFrame {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 826px;
    height: 377px;
    background: #fff;
    z-index: 99;
  }
  .popContent {
    padding: 45px 120px 59px;
  }
  .popTitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    line-height: 37px;
  }
  .popText {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
    padding: 40px 0 46px;
  }
  .e-mail {
    width: 362px;
    height: 50px;
    display: block;
    margin: 0 auto 16px;
    border: 1px solid #999999;
  }
  .popCheck {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #vote_resolve {
    width: 211px;
    height: 46px;
    background: #02c0d9;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 19px;
    margin-right: 16px;
  }
  #vote_reject {
    width: 135px;
    height: 46px;
    background: #fff;
    border: 1px solid #02c0d9;
    font-size: 16px;
    font-weight: 500;
    color: #02c0d9;
    line-height: 19px;
  }
  .mask {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    display: none;
  }
  .success {
    display: none;
    width: 450px;
    height: 200px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
  }
  .success a {
    text-decoration: underline !important;
    color: #4aede3;
  }
  .tip {
    font-size: 30px;
    font-weight: bold;
    padding: 55px 0 20px;
  }
  .link {
    padding-bottom: 55px;
    color: #4aede3;
    font-size: 16px;
  }
  


@media only screen and (max-width: 414px) {
    /*  彩车添加心愿单Mb  */
  .fb_vote_wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
  .fb_vote_titleM {
    padding: 12px 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #333333;
    line-height: 30px;
  }
  .fb_vote_textM {
    padding: 0px 30px 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    line-height: 15px;
    letter-spacing: 1px;
  }

  .fb_vote_swiper {
    width: 280px;
    min-height: 280px;
    margin: 0 auto;
  }
  .fb_vote_swiper .vote_pic {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
  }
  .fb_vote_content {
    margin: 0 auto;
  }
  .color_des {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #333333;
    line-height: 32px;
    letter-spacing: 1px;
    padding: 8px 0 10px;
  }
  .changeColor {
    padding-bottom: 0px;
  }
  .changeColor .options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px;
  }
  .changeColor .options li {
    padding-left: 33px;
    font-size: 12px;
    line-height: 18px;
  }
  .changeColor .options .nopadding {
    padding-left: 0px;
  }
  .options li.activeM {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 22px;
  }
  .changeColor .options {
    padding: 0 0 25px;
  }
  .card_color_all {
    justify-content: space-evenly;
  }
  .card_color_all span {
    width: 38px;
    height: 38px;
  }
  .card_frame {
    padding-top: 3px;
    margin-right: 0px;
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 44px;
    height: 44px;
  }
  .card_border {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 2px;
  }
  .button {
    margin: 0 89px;
    width: 235px;
    height: 44px;
  }
  .addToWish {
    display: block;
    margin: 0 auto;
    width: 235px;
    height: 44px;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 55px;
  }
  .card li.activeM,
  .fb_vote_titleM,
  .fb_vote_textM {
    display: block;
  }
  .allColor,
  .allColor div,
  .allColor div span,
  .fb_vote_title,
  .fb_vote_text {
    display: none;
  }
  .popFrame {
    display: none;
    width: 353px;
    height: 359px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .popContent {
    padding: 31px 32px 19px;
  }
  .popTitle {
    font-size: 26px;
    line-height: 32px;
  }
  .popText {
    font-size: 14px;
    line-height: 18px;
    padding: 26px 0 20px;
  }
  .e-mail {
    width: 289px;
    height: 47px;
    margin: 0 auto 20px;
  }
  input::placeholder {
    font-size: 14px;
    line-height: 18px;
  }
  .popCheck {
    flex-direction: column;
  }
  #vote_resolve {
    width: 210px;
    height: 44px;
    font-size: 14px;
    line-height: 18px;
    margin: 0px 0px 40px;
  }
  #vote_reject {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: #02c0d9;
    line-height: 15px;
    text-decoration: underline;
  }
  .success {
    width: 280px;
    height: 150px;
  }
  .tip {
    font-size: 18px;
    font-weight: bold;
    padding: 55px 0 20px;
  }
  .link {
    font-size: 12px;
    padding-bottom: 55px;
    color: #4aede3;
  }
  /*  彩车添加心愿单Mb End  */
}