.fb_xbike3Dnew {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 106px 160px 153px;
	width: 100%;
	/* background: url("https://cdn.shopify.com/s/files/1/0592/3766/2905/files/2021151115.png?v=1641352587") no-repeat; */
	background-size: cover;
}

.xbike3Dnew_title, .xbike3Dnew_title p{
	font-size: 48px;
	font-weight: 800;
	/* color: #fff; */
	line-height: 58px;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

.xbike3Dnew_title>span {
	color: #7D00FF;
}

.xbike3Dnew_sub {
	font-size: 16px;
	font-weight: 400;
	/* color: #fff; */
	line-height: 19px;
	margin: 24px 0 40px;
}
.xbike3Dnew_sub p{
	margin: 0;
	padding: 0;
}
.pc-display-block{
	display: block;
}
.m-display-block{
	display: none;
}
.xbike3Dnew_button {
	padding: 16px 46px;
	
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	/* color: #fff; */
	line-height: 19px;
}
.xbike-black-view-button{
    background: linear-gradient(135deg, #7D00FF 0%, #00BCFF 100%);
	box-shadow: 0 10px 30px 0 rgba(0, 188, 255, 0.3);
}
.xbike-pink-view-button{
   background-color: #000;
}

.xbike3Dnew_button:hover,
.xbike3Dnew_buttonM:hover {
	cursor: pointer;
}

.xbike3Dnew_img {
	position: relative;
	align-self: center;
	margin-top: -8%;
}

.xbike3Dnew_img>img {
	display: block;
	width: 491px;
	height: 600px;
}

.xbike3Dnew_img_introduce_1 {
	position: absolute;
	top: 40%;
	left: 15%;
}

.xbike3Dnew_img_introduce_2 {
	position: absolute;
	top: 45%;
	left: 53%;
}

.xbike3Dnew_img_introduce_3 {
	position: absolute;
	top: 11%;
	left: 89%;
}

.xbike3Dnew_img_introduce_1_point,
.xbike3Dnew_img_introduce_2_point,
.xbike3Dnew_img_introduce_3_point {
	position: absolute;
	top: -30px;
	left: -30px;
	width: max-content;
}

.xbike3Dnew_img_introduce_1_point:hover,
.xbike3Dnew_img_introduce_2_point:hover,
.xbike3Dnew_img_introduce_3_point:hover {
	cursor: pointer;
}

.xbike3Dnew_img_introduce_1_point>img,
.xbike3Dnew_img_introduce_2_point>img,
.xbike3Dnew_img_introduce_3_point>img {
	display: block;
	width: 24px;
	height: 24px;
	margin: 30px;
}

.xbike3Dnew_img_introduce_1_icon,
.xbike3Dnew_img_introduce_2_icon,
.xbike3Dnew_img_introduce_3_icon {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.introduce_1_icon_1,
.introduce_2_icon_1,
.introduce_3_icon_1 {
	position: absolute;
	top: -30px;
	left: -30px;
	width: max-content;
}

.introduce_1_icon_1>img,
.introduce_2_icon_1>img,
.introduce_3_icon_1>img {
	display: block;
	width: 24px;
	height: 24px;
	margin: 30px;
}

.introduce_1_icon_2 {
	position: absolute;
	top: 11px;
	right: 0;
	width: max-content;
}

.introduce_2_icon_2 {
	position: absolute;
	top: 11px;
	left: 24px;
	width: max-content;
}

.introduce_3_icon_2 {
	position: absolute;
	top: 11px;
	left: 24px;
	width: max-content;
}

.introduce_1_icon_2>img {
	display: block;
	width: 633px;
}

.introduce_2_icon_2>img {
	display: block;
	width: 578px;
}

.introduce_3_icon_2>img {
	display: block;
	width: 578px;
}

.introduce_1_icon_3 {
	position: absolute;
	top: 0;
	right: 230px;
	width: max-content;
	max-width: 400px;
}

.introduce_2_icon_3 {
	position: absolute;
	bottom: -120px;
	left: 300px;
	width: max-content;
	max-width: 400px;
}

.introduce_3_icon_3 {
	position: absolute;
	bottom: -120px;
	left: 300px;
	width: max-content;
	max-width: 400px;
}

.introduce_1_icon_3_1>video,
.introduce_2_icon_3_1>video,
.introduce_3_icon_3_1>img {
	width: 360px;
	height: 214px;
	background: #000;
	border-radius: 20px;
}

.introduce_1_icon_3_2,
.introduce_2_icon_3_2,
.introduce_3_icon_3_2 {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
	letter-spacing: 1px;
	margin: 30px 0 20px;
}

.introduce_1_icon_3_3,
.introduce_2_icon_3_3,
.introduce_3_icon_3_3 {
	font-size: 14px;
	font-weight: 400;
	/* color: #fff; */
	line-height: 18px;
}

.xbike3Dnew_buttonM {
	display: none;
}


.fb_xbike3Dnew_pop {
	z-index: 110;
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	/* background-image: url("https://cdn.shopify.com/s/files/1/0592/3766/2905/files/20221141051.png?v=1642128683");
	background-size: cover;
	background-repeat: no-repeat; */
}

.fb_xbike3Dnew_pop_close {
	z-index: 1000;
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 50px;
	/* color: #ddd; */
}

.fb_xbike3Dnew_pop_close>img {
	display: block;
	width: 30px;
	height: 30px;
}

.fb_xbike3Dnew_pop_close:hover {
	cursor: pointer;
}

@media only screen and (min-width: 1025px) and (max-width: 1550px) {
    .fb_xbike3Dnew {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 80px 120px 115px;
		width: 100%;
		/* background: url("https://cdn.shopify.com/s/files/1/0592/3766/2905/files/2021151115.png?v=1641352587") no-repeat;
		background-size: cover; */
	}

	.xbike3Dnew_title, .xbike3Dnew_title p {
		font-size: 36px;
		line-height: 44px;
		letter-spacing: 2px;
	}

	/* .xbike3Dnew_title>span {
		color: #7D00FF;
	} */

	.xbike3Dnew_sub {
		font-size: 12px;
		line-height: 14px;
		margin: 18px 0 30px;
	}

	.xbike3Dnew_button {
		padding: 12px 35px;
		/* box-shadow: 0 8px 23px 0 rgba(0, 188, 255, 0.3); */
		border-radius: 8px;
		font-size: 12px;
		line-height: 14px;
	}
    .xbike-black-view-button{
        box-shadow: 0 8px 23px 0 rgba(0, 188, 255, 0.3);
    }
    .xbike3Dnew_img {
		position: relative;
		align-self: center;
		margin-top: -8%;
	}

	.xbike3Dnew_img>img {
		display: block;
		width: 368px;
		height: 450px;
	}

	.xbike3Dnew_img_introduce_1 {
		position: absolute;
		top: 40%;
		left: 15%;
	}

	.xbike3Dnew_img_introduce_2 {
		position: absolute;
		top: 45%;
		left: 53%;
	}

	.xbike3Dnew_img_introduce_3 {
		position: absolute;
		top: 11%;
		left: 89%;
	}

	.xbike3Dnew_img_introduce_1_point,
	.xbike3Dnew_img_introduce_2_point,
	.xbike3Dnew_img_introduce_3_point {
		position: absolute;
		top: -30px;
		left: -30px;
		width: max-content;
	}

	.xbike3Dnew_img_introduce_1_point>img,
	.xbike3Dnew_img_introduce_2_point>img,
	.xbike3Dnew_img_introduce_3_point>img {
		display: block;
		width: 18px;
		height: 18px;
		margin: 30px;
	}

	.xbike3Dnew_img_introduce_1_icon,
	.xbike3Dnew_img_introduce_2_icon,
	.xbike3Dnew_img_introduce_3_icon {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	.introduce_1_icon_1,
	.introduce_2_icon_1,
	.introduce_3_icon_1 {
		position: absolute;
		top: -30px;
		left: -30px;
		width: max-content;
	}

	.introduce_1_icon_1>img,
	.introduce_2_icon_1>img,
	.introduce_3_icon_1>img {
		display: block;
		width: 18px;
		height: 18px;
		margin: 30px;
	}

	.introduce_1_icon_2 {
		position: absolute;
		top: 8px;
		right: 0;
		width: max-content;
	}

	.introduce_2_icon_2 {
		position: absolute;
		top: 8px;
		left: 18px;
		width: max-content;
	}

	.introduce_3_icon_2 {
		position: absolute;
		top: 8px;
		left: 18px;
		width: max-content;
	}

	.introduce_1_icon_2>img {
		display: block;
		width: 475px;
	}

	.introduce_2_icon_2>img {
		display: block;
		width: 434px;
	}

	.introduce_3_icon_2>img {
		display: block;
		width: 434px;
	}

	.introduce_1_icon_3 {
		position: absolute;
		top: -30px;
		right: 164px;
		width: max-content;
		max-width: 310px;
	}

	.introduce_2_icon_3 {
		position: absolute;
		bottom: -90px;
		left: 230px;
		width: max-content;
		max-width: 310px;
	}

	.introduce_3_icon_3 {
		position: absolute;
		bottom: -90px;
		left: 230px;
		width: max-content;
		max-width: 310px;
	}

	.introduce_1_icon_3_1>video,
	.introduce_2_icon_3_1>video,
	.introduce_3_icon_3_1>img {
		width: 270px;
		height: 161px;
		background: #000;
		border-radius: 20px;
	}

	.introduce_1_icon_3_2,
	.introduce_2_icon_3_2,
	.introduce_3_icon_3_2 {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 1px;
		margin: 22px 0 12px;
	}

	.introduce_1_icon_3_3,
	.introduce_2_icon_3_3,
	.introduce_3_icon_3_3 {
		font-size: 12px;
		line-height: 14px;
	}
}
@media only screen and (min-width: 415px) and (max-width: 1024px) {
    .fb_xbike3Dnew {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 42px 64px 61px;
		width: 100%;
		/* background: url("https://cdn.shopify.com/s/files/1/0592/3766/2905/files/2021151115.png?v=1641352587") no-repeat;
		background-size: cover; */
	}

	.xbike3Dnew_title, .xbike3Dnew_title p{
		font-size: 19px;
		line-height: 23px;
		letter-spacing: 1px;
	}

	/* .xbike3Dnew_title>span {
		color: #7D00FF;
	} */

	.xbike3Dnew_sub {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0 16px;
	}
	
	.xbike3Dnew_button {
		padding: 6px 18px;
		border-radius: 4px;
		font-size: 12px;
		line-height: 12px;
	}
    .xbike-black-view-button{
        box-shadow: 0 4px 12px 0 rgba(0, 188, 255, 0.3);
    }
    .xbike3Dnew_img {
		position: relative;
		align-self: center;
		margin-top: -8%;
	}

	.xbike3Dnew_img>img {
		display: block;
		width: 196px;
		height: 240px;
	}

	.xbike3Dnew_img_introduce_1 {
		position: absolute;
		top: 40%;
		left: 15%;
	}

	.xbike3Dnew_img_introduce_2 {
		position: absolute;
		top: 45%;
		left: 53%;
	}

	.xbike3Dnew_img_introduce_3 {
		position: absolute;
		top: 11%;
		left: 89%;
	}

	.xbike3Dnew_img_introduce_1_point,
	.xbike3Dnew_img_introduce_2_point,
	.xbike3Dnew_img_introduce_3_point {
		position: absolute;
		top: -30px;
		left: -30px;
		width: max-content;
	}

	.xbike3Dnew_img_introduce_1_point>img,
	.xbike3Dnew_img_introduce_2_point>img,
	.xbike3Dnew_img_introduce_3_point>img {
		display: block;
		width: 10px;
		height: 10px;
		margin: 30px;
	}

	.xbike3Dnew_img_introduce_1_icon,
	.xbike3Dnew_img_introduce_2_icon,
	.xbike3Dnew_img_introduce_3_icon {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	.introduce_1_icon_1,
	.introduce_2_icon_1,
	.introduce_3_icon_1 {
		position: absolute;
		top: -30px;
		left: -30px;
		width: max-content;
	}

	.introduce_1_icon_1>img,
	.introduce_2_icon_1>img,
	.introduce_3_icon_1>img {
		display: block;
		width: 10px;
		height: 10px;
		margin: 30px;
	}

	.introduce_1_icon_2 {
		position: absolute;
		top: 4px;
		right: 0;
		width: max-content;
	}

	.introduce_2_icon_2 {
		position: absolute;
		top: 4px;
		left: 10px;
		width: max-content;
	}

	.introduce_3_icon_2 {
		position: absolute;
		top: 4px;
		left: 10px;
		width: max-content;
	}

	.introduce_1_icon_2>img {
		display: block;
		width: 253px;
	}

	.introduce_2_icon_2>img {
		display: block;
		width: 231px;
	}

	.introduce_3_icon_2>img {
		display: block;
		width: 231px;
	}

	.introduce_1_icon_3 {
		position: absolute;
		top: -30px;
		right: 88px;
		width: max-content;
		max-width: 165px;
	}

	.introduce_2_icon_3 {
		position: absolute;
		bottom: -44px;
		left: 120px;
		width: max-content;
		max-width: 165px;
	}

	.introduce_3_icon_3 {
		position: absolute;
		bottom: -44px;
		left: 120px;
		width: max-content;
		max-width: 165px;
	}

	.introduce_1_icon_3_1>video,
	.introduce_2_icon_3_1>video,
	.introduce_3_icon_3_1>img {
		width: 144px;
		height: 86px;
		background: #000;
		border-radius: 20px;
	}

	.introduce_1_icon_3_2,
	.introduce_2_icon_3_2,
	.introduce_3_icon_3_2 {
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 0;
		margin: 12px 0 7px;
	}

	.introduce_1_icon_3_3,
	.introduce_2_icon_3_3,
	.introduce_3_icon_3_3 {
		font-size: 12px;
		line-height: 12px;
	}

}
@media only screen and (max-width: 414px) {
    .fb_xbike3Dnew {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 49px 30px 42px;
		width: 100%;
		/* background: url("https://cdn.shopify.com/s/files/1/0592/3766/2905/files/2021151115.png?v=1641352587") no-repeat;
		background-size: cover; */
		text-align: center;
	}

	.xbike3Dnew_title, .xbike3Dnew_title p{
		font-size: 24px;
		line-height: 29px;
		text-align: center;
	}

	/* .xbike3Dnew_title>span {
		color: #7D00FF;
	} */

	.xbike3Dnew_sub {
		font-size: 12px;
		line-height: 15px;
		margin: 10px 0 26px;
	}
	.pc-display-block{
		display: none;
	}
	.m-display-block{
		display: block;
	}
	.xbike3Dnew_button {
		display: none;
	}

	.xbike3Dnew_buttonM {
		display: block;
		padding: 13px 40px;
		margin-top: 46px;
		/* background: linear-gradient(135deg, #7D00FF 10%, #00BCFF 100%);
		box-shadow: 0 5px 15px 0 rgba(0, 188, 255, 0.3); */
		border-radius: 5px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		line-height: 15px;
		letter-spacing: 1px;
	}

	.xbike3Dnew_sub_br {
		display: none;
	}

    .xbike3Dnew_img {
		align-self: normal;
		margin-top: 0;
	}

	.xbike3Dnew_img>img {
		display: block;
		width: 100%;
		height: auto;
	}

	.xbike3Dnew_img_introduce_1_iconM,
	.xbike3Dnew_img_introduce_2_iconM,
	.xbike3Dnew_img_introduce_3_iconM {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.8);
		z-index: 3;
	}

	.xbike3Dnew_img_introduce_1_point>img,
	.xbike3Dnew_img_introduce_2_point>img,
	.xbike3Dnew_img_introduce_3_point>img {
		display: block;
		width: 15px;
		height: 15px;
	}

	.introduce_1_icon_1,
	.introduce_2_icon_1,
	.introduce_1_icon_2,
	.introduce_2_icon_2,
	.introduce_3_icon_1,
	.introduce_3_icon_2 {
		display: none;
	}

	.introduce_1_icon_3_1>video,
	.introduce_2_icon_3_1>video,
	.introduce_3_icon_3_1>img {
		width: 100%;
		height: auto;
		background: #000;
		border-radius: 20px;
	}

	.introduce_1_icon_3M,
	.introduce_2_icon_3M,
	.introduce_3_icon_3M {
		z-index: 1;
		position: fixed;
		top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: none;
		text-align: center;
		padding: 0 10%;
	}
	.fb_xbike3Dnew_placeholderM{
		width: 100%;
		height: 26vh;
	}

}