.Product__SlideshowMobileNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 24px 0 24px;
}

.Product__SlideshowMobileNav .flickity-page-dots {
    opacity: 1 !important;
}

.Product__SlideshowMobileNav .flickity-page-dots {
    position: absolute;
    bottom: -20px;
    right: 20px;
    display: inline-block;
    margin-top: 0;
    z-index: 0;
    width: 100px;
    overflow: hidden;
}

.Product__SlideshowMobileNav .flickity-page-dots-frame {
    width: max-content;
    white-space: nowrap;
    transition: all 0.2s;
}

.metaAndStamp {
    position: relative;
    padding-bottom: 44px;
    border-bottom: 0.5px solid #e6e6e6;
}

.addProduct_subheading {
    position: absolute;
    bottom: 12px;
    left: 0;
}

.ProductMeta {
    display: inline-block;
}

.ProductMeta .ProductMeta_productName {
    font-size: 14px;
    color: #666;
    margin-top: 2px;
}

.paymentMethodFrame {
    position: relative;
}

.Product__Gallery {
    position: relative;
}

@media screen and (min-width: 1008px) {
    .Product__Info {
        position: sticky;
        top: var(--header-base-height);
        right: 0;
    }

    .FeaturedProduct__Info {
        margin-left: 80px;
    }
}


/**
   * ----------------------------------------------------------------------------
   * Shopify payment button
   * ----------------------------------------------------------------------------
   */
.paymentMethodFrame .shopify-payment-button {
    display: none;
}

.shopify-payment-button {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}

.shopify-payment-button__more-options {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: auto;
    line-height: normal;
}

.shopify-payment-button__more-options[aria-hidden='true'] {
    display: none;
}

.shopify-payment-button__more-options::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background: currentColor;
    transform: scale(1, 1);
    transform-origin: left center;
    transition: transform 0.2s ease-in-out;
}
.Product {
    position: relative;
    margin: 0 auto 20px auto;
    max-width: 1330px;
}
@media screen and (min-width: 769px) {
    .Product__Info .Container {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .Product__Aside .Section {
        max-width: 630px;
        margin: 0 auto;
    }

    .Product__Wrapper {
        position: relative;
        padding-top: 170px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .Product__Gallery {
        position: relative;
        background-color: #fff;
    }

    /*四个角框*/
    .border_corner {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        z-index: 2;
    }

    .border_corner_left_top {
        top: 0px;
        left: 1px;
        border-right: none;
        border-bottom: none;
    }

    .border_corner_right_top {
        top: 0px;
        right: 2px;
        border-left: none;
        border-bottom: none;
    }

    .border_corner_left_bottom {
        bottom: 0px;
        left: 1px;
        border-right: none;
        border-top: none;
    }

    .border_corner_right_bottom {
        bottom: 0px;
        right: 2px;
        border-left: none;
        border-top: none;
    }

    .Product__InfoWrapper {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
    }

    .Product__SlideshowMobileNav .flickity-page-dots {
        width: 174px;
        bottom: 40px;
        right: 40px;
    }

    .flickity-page-dots .dot {
        width: 12px;
        height: 12px;
        margin: 0 8.5px;
    }

    .Product__SlideshowMobileNav {
        margin: 0;
    }

    .Product__Info {
        max-width: none;
        width: 100%;
        margin: 0;
    }

    .ProductMeta .ProductMeta_productName {
        display: none;
    }

    .addProduct_subheading {
        position: initial;
    }

    .PDPAddToCart_enabled .payment_method_button .pay_now .method_name {
        display: inline-block !important;
    }

    .metaAndStamp,
    .paymentMethodFrame {
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .metaAndStamp {
        left: 0;
        padding: 0;
        border: none;
    }

    .paymentMethodFrame {
        right: 0;
    }

    .shopify-payment-button {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 0;
    }


}

@keyframes shopifyfgrollshow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.shopify-payment-button_position {
    animation: shopifyfgrollshow 0.3s 1;
}

@media screen and (max-width: 768px) {
    .shopify-payment-button__button--branded {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    .Product__InfoWrapper {
        padding: 0 24px;
        margin-top: 36px;
    }

    .Product__Info .Container {
        padding: 0;
    }
    .paymentMethodFrame {
        margin-bottom: 20px;
    }
}

.fb-notify-button {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
@media screen and (min-width: 769px) {
    .fbm-pdp-product-wrapper {
        /* height: 850px; */
        width: 100%;
        padding-bottom: 60px;
    }
    .fbm-pdp-slidebox {
        height: 620px;
        width: 100%;
        overflow: hidden;
    }
    .fbm-pdp-video-wrapper{
        background: #000;
    }

    .fbm-pdp-video-wrapper .VideoWrapper{
        padding-bottom: 0px!important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .fbm-pdp-slidebox .plyr.plyr--full-ui.plyr--video{
        width: 600px;
        height: 100%;
        cursor: pointer;
     }
     .fbm-pdp-slidebox .AspectRatio > img{
        width: auto;
        height: 100%;
        object-fit: cover;
        position: relative;
     }
     .fbm-pdp-slidebox .plyr video, .fbm-pdp-slidebox .plyr audio {
        width: 620px;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
   
}

@media screen and (max-width: 768px) {
    .fbm-pdp-slidebox {
        width: 100%;
        height: 375px;
    }
    .fbm-pdp-product-wrapper .Product__Gallery{
       height: 407px;
    }
    .fbm-pdp-video-wrapper .VideoWrapper{
        padding-bottom: 0px!important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .fbm-pdp-slidebox .plyr.plyr--full-ui.plyr--video{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .fbm-pdp-slidebox .plyr video, .fbm-pdp-slidebox .plyr audio {
        width: 100%;
        height: 100%;
        object-fit: fill;
        position: relative;
    }
    .fbm-pdp-slidebox .AspectRatio > img{
        width: auto;
        height: 100%;
        object-fit: cover;
        position: relative;
     }

}
.fbm-pdp-slidebox .flickity-viewport {
    height: 100%;
}
.fbm-pdp-slidebox .VideoWrapper,
.fbm-pdp-slidebox .Product__SlideItem,
.fbm-pdp-slidebox .AspectRatio {
    width: 100%;
    height: 100%;
}
.fbm-pdp-slidebox .AspectRatio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.fbm-pdp-slidebox .AspectRatio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.fbm-pdp-video-wrapper{
    width: 100%;
    height: 100%;
}
.fbm-pdp-slidebox .VideoWrapper--native .plyr{
    position: relative;
 }

.fbm-pdp-slidebox .plyr__poster{
    width: auto;
}
@media screen and (min-width: 769px) {
    .fbm-pdp-videobox .stampedRating{
        color: #ccc!important;
    }
    .fbm-pdp-videobox .stamped-badge-caption{
        color: #999;
    }
    .fbm-pdp-videobox .change-color-des{
        color: #999!important;
    }
    .fbm-pdp-videobox .flickity-page-dots .dot{
        background: rgba(255,255,255,0.4)!important;
        border: none!important;
    }
    .fbm-pdp-videobox  .dot.is-selected {
        background: #fff!important;
        border: none!important;
    }
    .fbm-pdp-videobox .js-mpdp-show-video .choose-circle-a{
        display: none;
    }
    .fbm-pdp-videobox .js-mpdp-show-video .js-mpdp-showback {
        display: flex;
    }
}