@keyframes marktshow {
    0% {
        opacity: 0;
    }
                 
    100% {
        opacity: 1;
    }            
}

@keyframes markthide {
    0% {
        opacity: 1;
    }
             
    100% {
        opacity: 0;
    }
} 
.markt-toast_box {
    /* width: 100%; */
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
.markt-toast_box p {
    box-sizing: border-box;
    /* max-width: 200px; */
    width: 200px;
    padding: 10px 20px;
    /* width: max-content; */
    /* 提示框的背景色 */
    background: rgba(0, 0, 0, 0.98);
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    opacity: 0.8;
} 
