
/* shopify count down */
.sct-bar.sct-position-top, .sct-bar{
    z-index: 18!important;
}

html body{
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fixed-animation-ios{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
}
/* 父集合 */
.utils-timg-block {
    display: flex;
    align-items: center;
}
  /* 图片块 */
.utils-timg-box-img {
    height: auto;
    position: relative;
}
 /* 文字块 */
.utils-timg-box-space{
    margin-right: 0px;
}
.fb-pages-top-banner-style {
    margin-top: -110px;    
}
.fb-pages-top-banner-full-screen {
    margin-top: -70px;    
}
@media only screen and (min-width: 1550px) {
    /* 父父集合 */
    .utils-timg-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* 父集合 */
    .utils-timg-block{
        justify-content: center;
    } 
        /* 图片块 */
    .utils-timg-box-img {
        width: 700px;
    }
    /* 文字块 */
    .utils-timg-box-p {
        width: 675px; 
    }
    .utils-timg-box-space{
        margin-right: 130px;
    }
   
}
@media only screen and (min-width: 1440px)  and (max-width: 1549px){
    /* 父集合 */
    .utils-timg-block{
        justify-content: space-between;
    } 
        /* 图片块 */
    .utils-timg-box-img {
        width: 50%;
    }
    /* 文字块 */
    .utils-timg-box-p {
        width: 48%; 
    }
    .utils-timg-content{
       padding-left: 50px;
       padding-right: 50px; 
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .utils-timg-content{
        padding-left: 50px;
        padding-right: 50px; 
     }
    .utils-timg-block{
        justify-content: space-between;
    } 
    .utils-timg-box-img {
        width: 50%;
    }
    /* 文字块 */
    .utils-timg-box-p {
       width: 48%;
    }
}
/* 移动端样式布局 */
@media only screen and (max-width: 768px){

    .fb-pages-top-banner-full-screen {
        margin-top: -58px;    
    }
    /* 目前必须二选一 不然不会纵向排列 */
    .utils-timg-block-column{
        flex-direction: column;
    }
    .utils-timg-block-column-reverse{
        flex-direction: column-reverse;
    }
    .utils-timg-box-img{
        width: 100%;
     }
     .utils-timg-box-p{
         width: 100%;
        
     }
     .utils-timg-box-p-padding {
        padding-left: 28px;
        padding-right: 28px;
     }
}
@keyframes utilsmovehide{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes utilsmoveshow{
	0%{opacity:0;}
	100%{opacity: 1;}
	
}
.utils-move-show {
  animation: utilsmoveshow 0.3s 1;
}
.utils-move-hide {
    animation: utilsmovehide 0.3s 1;
}
/* 首页community */
@media only screen and (min-width: 1025px) and (max-width: 1549px) {
    .fb-pages-top-banner-full-screen {
        margin-top: -76px;    
    }
	.home-community, .home-community-second{
      padding-left:110px;
      padding-right:110px;
	}
}
@media only screen and (min-width: 1550px) {
    .fb-pages-top-banner-full-screen {
        margin-top: -80px;    
    }
    .home-community,.home-community-second{
      padding-left:200px;
      padding-right:200px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.home-community, .home-community-second{
      padding-left:70px;
      padding-right:70px;
    }
}
@media only screen and (max-width: 768px) {
	.home-community-second{
        padding-left: 25px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 769px){
    /* 隐藏pc */
    .utils-pc-hide {
        display: none!important;
    }
}
@media only screen and (max-width: 768px){
    /* 隐藏mobile */
    .utils-mobile-hide{
      display: none!important;
    }
}
@media screen and (min-width: 641px) {
    .fb-hidden-tablet-and-up {
      display: none !important;
    }
} 
@media screen and (max-width: 640px) {
    .fb-hidden-phone {
        display: none !important;
    }
}

 .ButtonGroup__Item_2 {
    margin: 12px;
  }
  
  .ButtonGroup--spacingSmall .ButtonGroup__Item_2 {
    margin: 8px;
  }
  
 .ButtonGroup--sameSize .ButtonGroup__Item_2 {
    flex: 0 1 auto;
    white-space: nowrap;
    max-width: 245px;
  }
  
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .ButtonGroup--sameSize .ButtonGroup__Item_2 {
      flex: 1 1 0;
      /* There is a bug in IE11 so we're forced to use this trick */
    }
  }
  
  @media screen and (min-width: 641px) {
    @supports (display: inline-grid) {
       .ButtonGroup--sameSize .ButtonGroup__Item_2 {
        max-width: none;
      }
    }
  }
 .utils-text-left input::-moz-placeholder {
    text-align: left;
  }
  .utils-text-left input:-ms-input-placeholder {
    text-align: left;
  }
  .utils-text-left input::placeholder {
    text-align: left;
  }
.utils-boom-section {
    background-color: #EFEFEF;
    position: relative;
}
.utils-boom-card {
    position: relative;
    background-color: #fff;
    z-index: 2;
}
@media only screen and (min-width:  1025px) { 
    .utils-boom-section{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .utils-boom-card {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        border-radius: 24px;
    }
}
@media only screen and (min-width:  821px) and (max-width:  1024px) { 
    .utils-boom-section{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .utils-boom-card {
        width: 800px;
        height: 100%;
        margin: 0 auto;
        border-radius: 24px;
    }
}

 @media only screen and (max-width:  820px) { 
    .utils-boom-section{
        width: 100%;
        padding: 0px 25px;
        padding-bottom: 34px;
    }
    .utils-boom-card {
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
 }
#loginModel{
    display: none;
}
#memeberShip{
    display: none;
}
.doubly-wrapper{
    display: none!important;
}